.footer {
  position: fixed;
  bottom: 0;
  width: 52px;
  height: 50px;
  background-color: transparent;
  z-index: 5;
}
.fa-search {
  color: #ffffff !important;
  background-color: #330066 !important;
  padding: 10px !important;
  border: 1px solid !important;
  border-radius: 20px !important;
}
.footer .leftmenu {
  width: 38px;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .footer .leftmenu {
    margin-left: 142px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer .leftmenu {
    margin-left: 102px;
  }
}
@media screen and (max-width: 991px) {
  .footer .leftmenu {
    margin-left: 15px;
  }
}
