
<p *ngIf="!totalMyActivityPendingTasks">You're all done!</p>
<div *ngFor="let documentsByMission of documentsByMissions">
  <div (click)="goTo('mission', documentsByMission.mission._id)">
    <div *ngFor="let document of documentsByMission.documents">
      <div *ngIf="document.myActivityPendingTasks" class="notif-wrapper">
        <h4>{{document.details.name}}</h4>
        <div class="dynamic">
          {{document.myActivityPendingTasks}} Pending Tasks
        </div>
      </div>
    </div>
  </div>
</div>
