<div *ngFor="let document of myDocuments">
  <div *ngIf="document.myActivityPendingTasks">
    <div *ngFor="let strat of document.strats">
      Strategy: {{strat.title}}
      <div (click)="goTo('strat', strat._id)" class="notif-wrapper">
        <h4>{{document.details.name}}: {{document.status.global}}</h4>
        <div class="dynamic">{{document.myActivityPendingTasks}} pendingTasks</div>
      </div>
    </div>
    <div *ngFor="let mission of document.missions">
      Mission: {{mission.title}}
      <div (click)="goTo('mission', mission._id)" class="notif-wrapper">
        <h4>{{document.details.name}}: {{document.status.global}}</h4>
        <div class="dynamic">{{document.myActivityPendingTasks}} pendingTasks</div>
      </div>
    </div>
  </div>
</div>
