<p *ngIf="!myActivityPendingTasksDocuments && !search.isInSideBar">You're all done!</p>
<div *ngFor="let document of myDocuments">
  <div *ngIf="document.myActivityPendingTasks">
    <div *ngFor="let strat of document.strats">
      <h5>Strategy: {{strat.title}}</h5>
      <div (click)="goTo('strat', strat._id)" class="notif-wrapper">
        <div class="notif-txt">
          <div class="doc-title">
            <div *ngIf="!document.link.length">
              <app-picture [isInList]=true [addPicture]=false [loadSinglePicture]=true [forms]="document.forms"></app-picture>
              <p class="">{{document.details.name}}</p>
            </div>
            <div *ngIf="document.link.length">
              <div
                [ngStyle]="{'background-image': 'url(assets/images/linkicon.png)'}"
                class="docimg">
              </div>
            </div>
            <p class="">{{document.details.name}}</p>
          </div>
        </div>
        <div class="dynamic" [ngPlural]="document.myActivityPendingTasks">
          <ng-template ngPluralCase="=0">{{document.myActivityPendingTasks}} Pending Task</ng-template>
          <ng-template ngPluralCase="=1">{{document.myActivityPendingTasks}} Pending Task</ng-template>
          <ng-template ngPluralCase="other">{{document.myActivityPendingTasks}} Pending Tasks</ng-template>
        </div>
      </div>
    </div>
    <div *ngFor="let mission of document.missions">
      <h5>Mission: {{mission.title}}</h5>
      <div (click)="goTo('mission', mission._id)" class="notif-wrapper">
        <div class="notif-txt">
          <div class="doc-title">
            <div *ngIf="!document.link.length">
              <app-picture [isInList]=true [addPicture]=false [loadSinglePicture]=true [forms]="document.forms"></app-picture>
              <p class="">{{document.details.name}}</p>
            </div>
            <div *ngIf="document.link.length">
              <div
                [ngStyle]="{'background-image': 'url(assets/images/linkicon.png)'}"
                class="docimg">
              </div>
            </div>
            <p class="">{{document.details.name}}</p>
          </div>
        </div>
        <div class="dynamic" [ngPlural]="document.myActivityPendingTasks">
          <ng-template ngPluralCase="=0">{{document.myActivityPendingTasks}} Pending Task</ng-template>
          <ng-template ngPluralCase="1">{{document.myActivityPendingTasks}} Pending Task</ng-template>
          <ng-template ngPluralCase="other">{{document.myActivityPendingTasks}} Pending Tasks</ng-template>
        </div>
        <!-- <div class="dynamic">{{document.myActivityPendingTasks}} Pending Task(s)</div> -->
      </div>
    </div>
  </div>
</div>
