<h4>Chat</h4>
<div *ngFor="let notifChat of notifChatsInStrats">
  {{notifChat.mission.title}}
  <div (click)="goToMission(notifChat.mission._id)">
    {{notifChat.countUnread}} New Messages
  </div>
</div>
<br>
<div *ngFor="let notifChat of notifChatsInMissions">
  {{notifChat.mission.title}}
  <div (click)="goToMission(notifChat.mission._id)">
    {{notifChat.countUnread}} New Messages
  </div>
</div>
<br>
<h4>Documents</h4>
<div *ngFor="let document of myDocuments">
  <div *ngFor="let mission of document.missions">
    {{mission.title}}
    <div (click)="goToMission(mission._id)">
      {{document.details.name}}: {{document.status.global}}
    </div>
  </div>
</div>
