<div class="sidewrapper">
  <app-chat-unread-in-strats [search]="{isInSideBar: true}" (goToEmit)="goToEmit($event)"></app-chat-unread-in-strats>
  <app-chat-unread-in-missions [search]="{isInSideBar: true}" (goToEmit)="goToEmit($event)"></app-chat-unread-in-missions>
</div>
<div class="sidewrapper">
  <!-- <app-documents-by-missions (goToEmit)="goToEmit($event)"></app-documents-by-missions> -->
  <app-my-documents [search]="{isInSideBar: true}" (goToEmit)="goToEmit($event)"></app-my-documents>
</div>
