@media screen and (min-width: 768px) {
  md-sidenav.sidebarleft {
    background-color: transparent !important;
    background-image: url("/assets/images/left-sidenav-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    width: 150px;
    height: 100vh;
    padding-top: 90px;
  }
}
