<md-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
  <div class="sideBarLeft" id="accordion" role="tablist" aria-multiselectable="true">
    {{showNavBarData|json}}
    <button type="button" (click)="test()">test</button>
    <i (click)="sidenav.toggle()" class="fa fa-bars" aria-hidden="true"></i>

    <app-projects></app-projects>
  </div>
  <!-- <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>Nav</md-icon>
  </button> -->
  <!-- <app-sideBarLeft [sidenav]="sidenav"></app-sideBarLeft> -->
</md-sidenav>

<!-- <div *ngIf="showNavBar"> -->
  <!-- <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    NAV
  </button> -->

  <!-- <div class="sideBarLeft" id="accordion" role="tablist" aria-multiselectable="true">

    <i (click)="sidenav.toggle()" class="fa fa-bars" aria-hidden="true"></i>

    <div class="card">
      Concert App
    </div>
    <div class="card">
      Ongoing Studies
    </div>
    <div class="card">
      Acquisition Efforts
    </div>
  </div> -->
<!-- </div> -->
