.sidebarleft {
  background-color: #f4f4f4;
  height: 100%;
  padding: 90px 5px;
  overflow: visible !important;
}
.leftmenu {
  overflow: auto;
}
.fa-search {
  color: #ffffff !important;
  background-color: #330066 !important;
  padding: 10px !important;
  border: 1px solid !important;
  border-radius: 20px !important;
  position: absolute;
  bottom: 15px;
}

@media screen and (min-width: 1300px) {
  mat-sidenav.sidebarleft {
    width: 160px;
  }
  .sidebarleft .fa-search {
    left: 140px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1299px) {
  mat-sidenav.sidebarleft {
    width: 120px;
  }
  .sidebarleft .fa-search {
    left: 100px;
  }
}

@media screen and (max-width: 991px) {
  mat-sidenav.sidebarleft {
    width: 200px;
    padding: 50px 0 15px;
  }
  .sidebarleft .fa-search {
    left: 15px;
  }
  .leftmenu {
    max-height: 75%;
  }
}
