<md-sidenav #sidenav mode="side" class="">
  <i (click)="sideNavAction('leftSideBar', false, '')" class="fa fa-bars" aria-hidden="true"></i>

  <div *ngIf="showNavBarData.search.typeScreen == 'object'">
    <app-projects *ngIf="showNavBarData.search.typeObj == 'project'"></app-projects>

    <div *ngIf="showNavBarData.search.typeObj == 'product'">
      <app-lightStrats [search]="showNavBarData.search"></app-lightStrats>
      <app-listProductsByProject [search]="showNavBarData.search"></app-listProductsByProject>
    </div>
  </div>

</md-sidenav>
