.container-profimg {
  height: 100%;
  width: 100%;
}
.profimg {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.container-profimg button {
  width: 100%;
  padding: 5px 0;
}
.removepic {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
