<div *ngFor="let singleForm of forms; let i=index;" [ngClass]="{'container-doclist':isInList,'container-docside':!isInList}">
  <div
    *ngIf="singleForm.type === 'image/*' || singleForm.type === 'jpg' || singleForm.type === 'png' || singleForm.type === 'jpeg'"
    [ngStyle]="{'background-image': 'url(/uploads/forms/' + singleForm.owner + '/' + singleForm.imagePath + ')'}"
    class="profimg">
  </div>
  <div
    *ngIf="singleForm.type === 'pdf'"
    [ngStyle]="{'background-image': 'url(assets/images/pdficon.png)'}"
    class="docimg">
  </div>
  <div
    *ngIf="
      singleForm.type === 'csv' ||
      singleForm.type === 'xls' ||
      singleForm.type === 'xlsm' ||
      singleForm.type === 'xlsx' ||
      singleForm.type === 'xlsb' ||
      singleForm.type === 'xlt' ||
      singleForm.type === 'xltm' ||
      singleForm.type === 'xltx' ||
      singleForm.type === 'ods' ||
      singleForm.type === 'odf'
      "
    [ngStyle]="{'background-image': 'url(assets/images/sheeticon.png)'}"
    class="docimg">
  </div>
  <div
    *ngIf="
      singleForm.type === 'doc' ||
      singleForm.type === 'docm' ||
      singleForm.type === 'docx' ||
      singleForm.type === 'dot' ||
      singleForm.type === 'dotm' ||
      singleForm.type === 'dotx' ||
      singleForm.type === 'rtf' ||
      singleForm.type === 'rtx' ||
      singleForm.type === 'indd' ||
      singleForm.type === 'odt' ||
      singleForm.type === 'one'
      "
    [ngStyle]="{'background-image': 'url(assets/images/wordicon.png)'}"
    class="docimg">
  </div>
  <div
    *ngIf="
      singleForm.type === 'ai' ||
      singleForm.type === 'psd' ||
      singleForm.type === 'odg'
      "
    [ngStyle]="{'background-image': 'url(assets/images/imgicon.png)'}"
    class="docimg">
  </div>
  <div
    *ngIf="
      singleForm.type === 'potm' ||
      singleForm.type === 'potx'  ||
      singleForm.type === 'ppam'  ||
      singleForm.type === 'pps'  ||
      singleForm.type === 'ppsm'  ||
      singleForm.type === 'ppsx'  ||
      singleForm.type === 'ppt'  ||
      singleForm.type === 'pptm' ||
      singleForm.type === 'pptx' ||
      singleForm.type === 'odp'
      "
    [ngStyle]="{'background-image': 'url(assets/images/prezicon.png)'}"
    class="docimg">
  </div>
  <div
    *ngIf="
      singleForm.type === 'zip' ||
      singleForm.type === 'rar'
      "
    [ngStyle]="{'background-image': 'url(assets/images/zipicon.png)'}"
    class="docimg">
  </div>
  <p class="docTitle"
    *ngIf="
      singleForm.type === 'pdf' ||
      singleForm.type === 'csv' ||
      singleForm.type === 'xls' ||
      singleForm.type === 'xlsm' ||
      singleForm.type === 'xlsx' ||
      singleForm.type === 'xlsb' ||
      singleForm.type === 'xlt' ||
      singleForm.type === 'xltm' ||
      singleForm.type === 'xltx' ||
      singleForm.type === 'ods' ||
      singleForm.type === 'odf' ||
      singleForm.type === 'doc' ||
      singleForm.type === 'docm' ||
      singleForm.type === 'docx' ||
      singleForm.type === 'dot' ||
      singleForm.type === 'dotm' ||
      singleForm.type === 'dotx' ||
      singleForm.type === 'rtf' ||
      singleForm.type === 'rtx' ||
      singleForm.type === 'indd' ||
      singleForm.type === 'odt' ||
      singleForm.type === 'one' ||
      singleForm.type === 'ai' ||
      singleForm.type === 'psd' ||
      singleForm.type === 'odg' ||
      singleForm.type === 'potm' ||
      singleForm.type === 'potx'  ||
      singleForm.type === 'ppam'  ||
      singleForm.type === 'pps'  ||
      singleForm.type === 'ppsm'  ||
      singleForm.type === 'ppsx'  ||
      singleForm.type === 'ppt'  ||
      singleForm.type === 'pptm' ||
      singleForm.type === 'pptx' ||
      singleForm.type === 'odp' ||
      singleForm.type === 'zip' ||
      singleForm.type === 'rar'
      ">
    {{singleForm.title}}
  </p>
  <button *ngIf="deletePicture" type="button" md-button (click)="removePic(i)"><p class="removepic">Remove</p></button>
</div>
<div *ngIf="!forms.length" class="container-profimg">
  <div style="background-image: url('assets/images/no-image-found.jpg')" class="profimg"></div>
    <!-- <img (click)="openProfile()" class="profimg" src="assets/images/no-image-found.jpg"> -->
</div>
<div *ngIf="addPicture">
  <div *ngIf="!loadSinglePicture || forms.length<1">
    <app-form [isInNewUser]="isInNewUser" (onPassForm)="onPassForm($event)"></app-form>
  </div>
</div>
