.container-profimg {
  height: 100%;
  width: 100%;
}
.profimg {
  background-size: cover;
}
.docimg {
  background-size: 60%;
  background-color: #fff;
}
.profimg, .docimg {
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}
.container-profimg button {
  width: 100%;
  padding: 5px 0;
}
.removepic {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.docTitle {
  text-align: center;
  word-break: break-word;
}
