.wrapper-profimg {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100px !important;
}
.profimg {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: 150% !important;
  max-height: 150%;
}
.removepic {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.fileContainer p {
  display: block;
  float: left;
  width: 80%;
  border-bottom: 1px solid;
}
.fileContainer .fa.fa-upload {
  background-color: #f44336 !important;
  color: #fff !important;
  padding: 10px !important;
  border-radius: 100px !important;
  float: right !important;
}
