<div *ngFor="let singleForm of forms; let i=index;" class="container-profimg" >
  <div
    *ngIf="
      singleForm.type === 'jpg' ||
      singleForm.type === 'png' ||
      singleForm.type === 'jpeg'
       "
    [ngStyle]="{'background-image': 'url(/uploads/forms/' + singleForm.owner + '/' + singleForm.imagePath + ')'}"
    class="profimg">
  </div>
  <div
    *ngIf="singleForm.type === 'pdf'"
    [ngStyle]="{'background-image': 'url(assets/images/pdf-icon.png)'}"
    class="profimg">
  </div>
  <p class="pdfTitle" *ngIf="singleForm.type === 'pdf'">{{singleForm.title}}</p>
    <!-- <div style="background-image: url('assets/images/no-image-found.jpg')"> -->
    <!-- <img (click)="openProfile()" class="profimg" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'"> -->
  <button *ngIf="deletePicture" type="button" md-button (click)="removePic(i)"><p class="removepic">Remove</p></button>
</div>
<div *ngIf="!forms.length" class="container-profimg">
  <div style="background-image: url('assets/images/no-image-found.jpg')" class="profimg"></div>
    <!-- <img (click)="openProfile()" class="profimg" src="assets/images/no-image-found.jpg"> -->
</div>
<div *ngIf="addPicture">
  <div *ngIf="!loadSinglePicture || forms.length<1">
    <app-form [isInNewUser]="isInNewUser" (onPassForm)="onPassForm($event)"></app-form>
  </div>
</div>
