<md-sidenav #sidenav align="end" class="example-sidenav">
  <!-- <button type="button" (click)="sidenavOpen('','')">SideBar</button> -->
  <i (click)="sideNavAction('rightSideBar', false, '')" class="fa fa-bars" aria-hidden="true"></i>
  <div>
    <app-deleteConfirmation *ngIf="showNavBarData.search.typeObj == 'deleteConfirmation'"></app-deleteConfirmation>
    <app-stratSingle *ngIf="showNavBarData.search.typeObj == 'strat'"></app-stratSingle>
    <app-document *ngIf="showNavBarData.search.typeObj == 'document'"></app-document>
    <app-newObj *ngIf="showNavBarData.search.typeObj == 'newObj'"></app-newObj>
    <app-mission *ngIf="showNavBarData.search.typeObj == 'mission'" [search]="showNavBarData.search"></app-mission>
    <app-newUser *ngIf="showNavBarData.search.typeObj == 'user'" [search]="showNavBarData.search"></app-newUser>
    <app-projectSingle *ngIf="showNavBarData.search.typeObj == 'project'" [search]="showNavBarData.search"></app-projectSingle>
  </div>
</md-sidenav>
