<md-sidenav #sidenav align="end" class="example-sidenav">
  <!-- <button type="button" (click)="sidenavOpen('','')">SideBar</button> -->
  <i (click)="sideNavAction('rightSideBar', false, '')" class="fa fa-bars" aria-hidden="true"></i>

  <div>
    {{showNavBarData.rightSideBar.search|json}}
    <app-newUser *ngIf="showNavBarData.rightSideBar.search.typeObj == 'user'" [search]="showNavBarData.rightSideBar.search"></app-newUser>
    <app-projectSingle *ngIf="showNavBarData.rightSideBar.search.typeObj == 'project'" [search]="showNavBarData.rightSideBar.search"></app-projectSingle>
  </div>
</md-sidenav>
