.cho-filcnt img {
    max-width: 100% !important;
}
.sidebarright-back {
  width: 5000px;
  display: inline-block;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}
.sidebarright-page {
  width: 100%;
  background: none;
  overflow: hidden;
}
.sidebarright {
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #fff;
  height: 100%;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .sidebarright {
    width: 250px;
  }
  .sidebarright-content {
    padding: 100px 0 15px;
  }
}
@media screen and (max-width: 767px) {
.sidebarright-content {
    padding: 46px 0 15px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .sidebarright-page {
    width: 50%;
  }
}
@media screen and (min-width: 500px) {
  .close-x {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .sidebarright-page {
    width: 100%;
  }
  .close-x {
    display: none !important;
  }
}
