.cho-filcnt img {
    max-width: 100% !important;
}
.sidebarright-back {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}
.sidebarright-page {
  width: 100%;
  background: none;
  overflow: hidden;
}
.sidebarright {
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebaradd {
  display: block;
  width: 100%;
  text-align: left;
}
.sidebaradd {
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .sidebarright-content {
    padding: 100px 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .sidebarright {
    width: 250px;
  }
}
@media screen and (max-width: 991px) {
.sidebarright-content {
    padding: 46px 0 15px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .sidebarright {
    width: 50%;
  }
}
@media screen and (min-width: 500px) {
  .close-x {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .sidebarright {
    width: 100%;
  }
}
