.lineback section {
  position: relative;
}
.lineback mat-progress-bar.mat-progress-bar.mat-primary {
  height: 38px !important;
}
.previous {
  float: left;
}
.next {
  float: right;
}
.pic-container {
  width: 50px;
  height: 50px;
  padding: 0 !important;
  margin-right: 15px;
}
.indiv-team {
  clear: both;
  margin-bottom: 15px;
  height: 50px;
}
.indiv-team p {
  margin: 0;
  padding:15px 0;
}
.no-image {
  background: none !important;
  color: #eee;
}
