<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{productType}}</h4> {{paginationData.totalItems}} missions
          <button type="button" (click)="createNewObj('mission')">+Mission</button>
        </div>
        <div class="card-block clearfix">
          <table class="table table-hover">
            <tbody class="clienttbl">
              <tr *ngFor="let mission of fetchedMissions" [routerLink]="['/mission/' + mission._id]" routerLinkActive="active">
                <td class="centre">{{mission.title}}</td>
                <td class="centre">
                  <section class="example-section">
                    <md-progress-bar class="example-margin" [color]="'primary'" [mode]="'determinate'" [value]="mission.dateMission.percentageProgress">
                    </md-progress-bar>
                  </section>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <md-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
            </md-paginator>
            <app-loadingInApp *ngIf="loading"></app-loadingInApp>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
