<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          {{paginationData.totalItems}} missions
          <button type="button" (click)="createNewMission()">+Mission</button>
        </div>
        <div class="card-block clearfix">
          <table class="table table-hover">
            <tbody class="">
              <tr *ngFor="let mission of fetchedMissions">
                <td (click)="goTo(mission._id)" routerLinkActive="active">{{mission.title}}</td>
                <td>
                  <section class="">
                    <md-progress-bar class="example-margin" [color]="'primary'" [mode]="'determinate'" [value]="mission.dateMission.percentageProgress">
                    </md-progress-bar>
                  </section>
                </td>
                <td>
                  <button type="button" (click)="openDeleteMission(mission._id)">X</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <md-paginator [length]="paginationData.totalItems" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
            </md-paginator>
            <app-loadingInApp *ngIf="loading"></app-loadingInApp>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
