<div *ngIf="fetchedMissions.length" class="missionbox">
  <div class="card">
    <div class="card-header">
      <i [ngClass]="'fa fa-' + categorie.icone"></i>
      <h2>{{categorie.name}}</h2>
      <h3>{{paginationData.totalItems}} missions</h3>
      <button type="button" (click)="editMode=!editMode" class="edit-btn">Edit</button>
    </div>
    <div class="card-block clearfix">
      <button *ngIf="editMode" type="button" (click)="createNewMission()" class="add-object"><p>Add Mission</p><i class="fa fa-plus"></i></button>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let mission of fetchedMissions" (click)="goTo(mission._id)" routerLinkActive="active">
            <td>{{mission.title}}</td>
            <td>
              <section>
                <mat-progress-bar [value]="mission.dateMission.percentageProgress">
                </mat-progress-bar>
              </section>
            </td>
            <td>
              <button *ngIf="editMode" type="button" (click)="openDeleteMission(mission._id)" class="delete-x">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="paginationData.totalItems > 2" class="has-text-centered">
        <mat-paginator *ngIf="paginationData.totalItems>paginationData.itemsPerPage" [length]="paginationData.totalItems" [pageIndex]="paginationData.currentPage-1" [pageSize]="paginationData.itemsPerPage" (page)="getPage($event.pageIndex*1+1)">
        </mat-paginator>
        <app-loadingInApp *ngIf="loading"></app-loadingInApp>
      </div>
    </div>
  </div>
</div>
