<div>
  <h2 class="sidewrapper">Project Crew</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="sidewrapper">
      <app-autocomplete [typeAutocomplete]="'user'" [title]="" [search]="{isExternalUser:false}" [singleChoice]=false [arrayContent]="fetchedProject.users" >
      </app-autocomplete>
    </div>
    <div class="sidewrapper valid-edit">
      <button type="submit" class="save" [disabled]="!myForm.valid">{{'Save' }}</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
