<div class="container">

  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="sideNavAction('leftSideBar', true, '')">left</button>
      <button type="button" (click)="sideNavAction('rightSideBar', true, '')">right</button>
      <!-- <button type="button" (click)="sideNavAction('rightSideBar', true, 'project')">right New project</button> -->
      <!-- <button type="button" (click)="sideNavAction('rightSideBar', true, 'user')">right New User</button> -->
      <button type="button" (click)="openMyProfile()"> My profile</button>

      <app-navbar></app-navbar>

      <app-missions [productType]="'content'"></app-missions>
      <br>
      <app-missions [productType]="'research'"></app-missions>
      {{fetchedProject._id}}
      <br> {{fetchedProject.details.name}}
      <br> {{fetchedProject.details.description}}
      <br>
      <button type="button" (click)="opendetailsProject()"> details Project</button>

    </div>

    <!--
    <app-autocomplete class="col-md-4" [typeAutocomplete]="'user'" [title]="'Customer'" [singleChoice]="'true'" [arrayContent]="fetchedProject.clients" (getResultAutocomplete)="selectUser($event[0])">
    </app-autocomplete> -->

  </div>
</div>
