<div class="col-md-12">
  <h2>Project</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="form-group">
      <md-form-field>
        <input [maxlength]="30" mdInput class="form-control" type="text" formControlName="name" [(ngModel)]="fetchedProject.details.name" placeholder="Title">
      </md-form-field>
    </div>
    <md-form-field>
      <input mdInput type="date" class="form-control" formControlName="start" [(ngModel)]="fetchedProject.dateProject.startString">
    </md-form-field>
    <md-form-field>
      <input mdInput type="date" class="form-control" formControlName="end" [(ngModel)]="fetchedProject.dateProject.endString">
    </md-form-field>
    <div class="form-group">
      <label>Project Owners</label>
      <app-autocomplete [typeAutocomplete]="'user'" [title]="" [search]="{isExternalUser:false}" [singleChoice]=false [arrayContent]="fetchedProject.users"></app-autocomplete>
    </div>
    <div class="valid-edit">
      <button type="submit" class="save" [disabled]="!myForm.valid">{{'Save' }}</button>
      <button *ngIf="fetchedProject._id" type="button" class="delete" md-button (click)="openDeleteConfirmation()">{{'Delete' }}</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
