<div class="container">

  <div class="row">
    <div class="col-md-12">



      <app-navbar></app-navbar>

      <app-missions [productType]="'content'"></app-missions>
      <br>
      <app-missions [productType]="'research'"></app-missions>
      {{fetchedProject._id}}
      <br> {{fetchedProject.details.name}}
      <br> {{fetchedProject.details.description}}
      <br>
      <button type="button" (click)="opendetailsProject()"> details Project</button>
      <br><br><br><br><br><br><br><br>
    </div>

    <!--
    <app-autocomplete class="col-md-4" [typeAutocomplete]="'user'" [title]="'Customer'" [singleChoice]="'true'" [arrayContent]="fetchedProject.clients" (getResultAutocomplete)="selectUser($event[0])">
    </app-autocomplete> -->

  </div>
</div>
