

<div class="container">
  <app-header [showBackButton]="true" [nameObject]="'project'" [showCreateButton]=false [openInDialog]=true></app-header>
  <div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
      <div>
        <div>
          <label>Id</label> {{fetchedProject._id}}
        </div>
      </div>

      <div>
        <div>
          <button (click)="changeCascade(i, -1, -1)" *ngFor="let itemStep of itemSteps;let i=index;" type="button" class="btn" [ngClass]="{'btn-success': i==selectedIndex0, '': i!=selectedIndex0}">
          {{itemStep.categ}}
        </button>
        </div>
        <br>
        <div *ngIf="selectedIndex0>=0">
          <button (click)="changeCascade(selectedIndex0, i, -1)" *ngFor="let itemStep of itemSteps[selectedIndex0].subCateg;let i=index;" type="button" class="btn" [ngClass]="{'btn-success': i==selectedIndex1, '': i!=selectedIndex1}">
          {{itemStep.categ}}
        </button>
        </div>
        <br>
        <div *ngIf="selectedIndex1>=0">
          <button (click)="changeCascade(selectedIndex0, selectedIndex1, i)" *ngFor="let itemStep of itemSteps[selectedIndex0].subCateg[selectedIndex1].subCateg;let i=index;" type="button" class="btn" [ngClass]="{'btn-success': i==selectedIndex2, '': i!=selectedIndex2}">
          {{itemStep.categ}}
        </button>
        </div>
      </div>


      <br>



      <div class="form-group">

        <div class="phyto-ctnr ttl-cde">
          <label>{{'Name' | translate}}</label>
          <input class="form-control col-md-4" type="text" formControlName="name" [(ngModel)]="fetchedProject.details.name" placeholder="Ref">
        </div>
      </div>
      <div class="form-group phyto-ctnr ttl-cde">
        <label>{{'Description' | translate}}</label>
        <input class="form-control col-md-4" type="text" formControlName="description" placeholder="description" [(ngModel)]="fetchedProject.details.description">
      </div>


      <app-autocomplete class="col-md-4" [typeAutocomplete]="'user'" [title]="'Customer'" [singleChoice]="'true'" [arrayContent]="fetchedProject.clients" (getResultAutocomplete)="selectUser($event[0])">
      </app-autocomplete>

      <br>
      <div *ngIf="fetchedProject._id">
        <div *ngFor="let user of fetchedProject.clients">
          <label>{{'Quote' | translate}}</label>

          <app-quotes [showHeader]=false [idProject]="fetchedProject._id" [idClient]="fetchedProject.clients[0]._id" [showBackButton]=false [userId]="user._id" [projectId]="fetchedProject._id">
          </app-quotes>
        </div>
      </div>








      <div class="form-group">
        {{'Status' | translate}}
        <select class="form-control col-md-3" formControlName="status" [(ngModel)]="fetchedProject.status">
          <option *ngFor="let n of status" [ngValue]="n.index">{{n.label}}</option>
        </select>
      </div>

      <div class="form-group">
        <app-autocomplete [typeAutocomplete]="'user'" [title]="'Assigned To'" [singleChoice]=true [search]="{isExternalUser:false}"[arrayContent]="fetchedProject.assignedTos" (getResultAutocomplete)="selectAssignedTo($event[0])">
        </app-autocomplete>
      </div>

      <div *ngIf="fetchedProject._id">
        <div class="FormGroup">
          <button type="button" class="btn btn-warning" (click)="showLogs = !showLogs">
           <i class="fa fa-calendar" aria-hidden="true"></i>
           <span>{{'Show Comments' | translate}}</span>
          </button>

          <div *ngIf="showLogs">
            <app-comments [search]="search"></app-comments>
          </div>
        </div>

        <div class="FormGroup whtxt">
          <a class="btn btn-warning" [routerLink]="['/task/project/' + fetchedProject._id]">
         <i class="fa fa-calendar" aria-hidden="true"></i>
         <span>{{'Tasks' | translate}}</span>
        </a>
        </div>
        <div class="FormGroup whtxt">
          <button type="button" class="btn btn-warning" (click)="seeCalendar()">
         <i class="fa fa-calendar" aria-hidden="true"></i>
         <span>{{'See calendar' | translate}}</span>
       </button>
        </div>
      </div>




      <div class="valid-edit">
        <button type="submit" class="done btn btn-success" [disabled]="!myForm.valid">{{'Save' | translate}}</button>
        <button *ngIf="fetchedProject._id" type="button" class="delete" md-button (click)="openDialogDelete()">
        {{'Delete' | translate}}
      </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
