<div class="container">
  <div class="row">
    <div class="col-md-12">

      {{fetchedProject._id}}
      <br> {{fetchedProject.details.name}}
      <br> {{fetchedProject.details.description}}
      <br>

      <app-strats [search]="search"></app-strats>
      <!-- <br>
      <app-missions [search]="searchMissionContent"></app-missions>
      <br>
      <app-missions [search]="searchMissionResearch"></app-missions> -->
      <!-- {{fetchedProducts|json}} -->
      <div *ngIf="fetchedProject._id">
        <div *ngFor="let product of fetchedProducts">
          {{product.name}}
          <app-missions [search]="{projectId:fetchedProject._id, productId:product._id}"></app-missions>
        </div>
      </div>

      <br>
      <md-card>
        <md-card-content>
          <h2 class="">Project Information</h2>
          <button type="button" (click)="openDetails()">Edit</button>
          <br>
          Start Date {{fetchedProject.dateProject.start | date:'yyyy-MM-dd' }} /
          End Date {{fetchedProject.dateProject.end | date:'yyyy-MM-dd' }} / {{fetchedProject.dateProject.percentageProgress}}%
          <section class="example-section">
            <md-progress-bar
              class="example-margin"
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="fetchedProject.dateProject.percentageProgress"
              >
            </md-progress-bar>
          </section>
        </md-card-content>
      </md-card>
      <br>
      <md-card>
        <md-card-content>
          <h2>Team</h2>
          <button type="button" (click)="openTeam()">Edit</button>
          <br>
          <div *ngFor="let user of fetchedProject.users">
            <div (click)="openProfile(user._id)">
              <app-picture [addPicture]=false [deletePicture]=false [forms]="user.forms"></app-picture>
            </div>
            {{user.profile.name}}
            <br>
          </div>
        </md-card-content>
      </md-card>



      <br><br><br><br><br><br><br><br>
    </div>

    <!--
    <app-autocomplete class="col-md-4" [typeAutocomplete]="'user'" [title]="'Customer'" [singleChoice]="'true'" [arrayContent]="fetchedProject.clients" (getResultAutocomplete)="selectUser($event[0])">
    </app-autocomplete> -->

  </div>
</div>
