<div class="log-scrn newuser">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" class="login-form">
    <div class="logologin"><img src="/assets/images/small-logo-djoa-white.png"/></div>
    <app-autocomplete *ngIf=false [typeAutocomplete]="'right'" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedUser.rights" [placeholderString]="'User Rights (Admin Only)'">
    </app-autocomplete>
    <label class="label-title">First Name</label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedUser.profile.name">
    </div>
    <label class="label-title">Last Name</label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="fetchedUser.profile.lastName">
    </div>
    <label class="label-title">Job Title</label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="title" [(ngModel)]="fetchedUser.profile.title">
    </div>
    <label class="label-title">Choose a Profile Picture</label>
    <div class="pic-container">
      <app-picture [addPicture]=true [loadSinglePicture]=true [deletePicture]=true (pictureRemoved)="pictureRemoved()" [forms]="fetchedUser.forms"></app-picture>
    </div>
    <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'save':myForm.valid,'delete':!myForm.valid}">Done</button>
    <div class="clearfix"></div>
  </form>
</div>
