<form [formGroup]="myForm" novalidate (ngSubmit)="save()" class="sidebarright-sub">
  <mat-form-field>
    <input matInput type="text" class="form-control" formControlName="email" [(ngModel)]="fetchedUser.email" placeholder="Email">
  </mat-form-field>
  <label class="label-title">Email Preferences</label>
  <p>I would like to get notified of a new task or message:</p>
  <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.emailPreferences.frequencyEmail">
    <mat-radio-button value="asTheyHappen" class="sidebarright-choices">As they happen</mat-radio-button>
    <mat-radio-button value="onceADay" class="sidebarright-choices">Once a Day</mat-radio-button>
    <mat-radio-button value="onceAWeek" class="sidebarright-choices">Once a Week</mat-radio-button>
    <mat-radio-button value="never" class="sidebarright-choices">Never</mat-radio-button>
  </mat-radio-group>
  <div class="valid-edit">
    <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'save':myForm.valid,'delete':!myForm.valid}">Save</button>
  </div>
  <div class="clearfix"></div>
</form>
<app-change-password></app-change-password>
