<div>
  <h2 class="sidewrapper greyback">Document</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="sidewrapper greyback">
      <div *ngIf="!search.stratId && !search.briefId">
        <app-autocomplete [typeAutocomplete]="'project'" [search]="search" [canDelete]=true [title]=""
        [singleChoice]=true [arrayContent]="autocompleteSearchProjects" (clearAutocomplete)="clearSearchProjects()"
        (getResultAutocomplete)="getResultSearchProjects($event[0])" [placeholder]="'Project'">
        </app-autocomplete>
        <app-autocomplete *ngIf="autocompleteSearchProjects.length" [typeAutocomplete]="'categorie'" [search]="search" [canDelete]=true [title]=""
        [singleChoice]=true [arrayContent]="autocompleteSearchCategories" (clearAutocomplete)="clearSearchCategories()"
        (getResultAutocomplete)="getResultSearchCategories($event[0])" [placeholder]="'Marketing Field'">
        </app-autocomplete>
        <app-autocomplete *ngIf="autocompleteSearchCategories.length" [typeAutocomplete]="'mission'" [search]="search" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedDocument.missions" [placeholder]="'Mission'">
        </app-autocomplete>
      </div>
      <div *ngIf="search.briefId">
        <app-autocomplete [typeAutocomplete]="'brief'" [search]="search" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedDocument.briefs" [placeholder]="'Brief Title'">
        </app-autocomplete>
      </div>
      <div *ngIf="search.stratId">
        <app-autocomplete [typeAutocomplete]="'strat'" [search]="search" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedDocument.strats" [placeholder]="'Strategy Title'">
        </app-autocomplete>
      </div>
      <mat-form-field>
        <input matInput type="text" formControlName="name" [(ngModel)]="fetchedDocument.details.name" placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="link" [(ngModel)]="fetchedDocument.link" placeholder="Add Link">
      </mat-form-field>
      <!--<mat-form-field>
        <input matInput class="form-control col-md-4" type="text" formControlName="description" placeholder="description" [(ngModel)]="fetchedDocument.details.description">
      </mat-form-field>--->

      <app-picture [forms]="fetchedDocument.forms"></app-picture>

    </div>
    <div class="sidewrapper">
      <label class="label-title">Assign Crew Members</label>
      <app-autocomplete [typeAutocomplete]="'user'" [search]="search" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedDocument.crewMembers" [placeholder]="'Gets the work done'">
      </app-autocomplete>
      <app-autocomplete [typeAutocomplete]="'user'" [search]="search" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedDocument.reviewers" [placeholder]="'Reviews the work:''">
      </app-autocomplete>
    </div>
    <div class="sidewrapper valid-edit">
      <button type="submit" class="save" [disabled]="!myForm.valid">{{'Save' }}</button>
      <button *ngIf="fetchedDocument._id" type="button" class="delete" md-button (click)="openDeleteConfirmation()">
        {{'Delete' }}
      </button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
