<button type="button" (click)="createNewObj('project')"><h2>New Project</h2></button>
<br>
<button type="button" (click)="createNewObj('strat')"><h2>New Strategy</h2></button>
<br>
<button type="button" (click)="createNewObj('mission')"><h2>New Mission</h2></button>
<br>
<button type="button" (click)="createNewObj('document')"><h2>New Document</h2></button>
<br>
<button type="button" (click)="createNewObj('usersToObjects')"><h2>New Crew Member</h2></button>
<br>
<button type="button" (click)="createNewObj('user')"><h2>New Crew Member ++</h2></button>
