<div>
  {{title}}

  <div *ngIf="!arrayContent.length || !singleChoice">
    <div>
      <mat-form-field>
        <input matInput autofocus autocapitalize="none" autocomplete="off" spellcheck="false" autocorrect="none" type="text" name="Search" placeholder="{{placeholderString}}" [(ngModel)]="autocompleteSearch" (ngModelChange)="searchData()">
      </mat-form-field>
    </div>
  </div>

  <div class="result" *ngFor="let data of fetchedData; let i=index">
    <table>
      <tr>
        <td class="resultleft" (click)="selectData(data)">
          <i class="fa fa-plus"></i>
        </td>
        <td class="resultright">
          <div *ngIf="typeAutocomplete=='user'"><div class="resultname">{{data.profile.name}} {{data.profile.lastName}}</div><div class="resultemail">{{data.email}}</div></div>
          <div *ngIf="typeAutocomplete=='companie'"><label>Company:</label>{{data.nameCompanie}}</div>
          <!-- <div *ngIf="typeAutocomplete=='quote'">{{data.name}}</div> -->
          <div *ngIf="typeAutocomplete=='project'"><label>Project:</label>{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='categorie'"><label>Marketing Field:</label>{{data.name}}</div>
          <div *ngIf="typeAutocomplete=='brief'"><label>Brief:</label>{{data.questions.tryingToDo}}</div>
          <div *ngIf="typeAutocomplete=='strat'"><label>Strategy:</label>{{data.title}}</div>
          <div *ngIf="typeAutocomplete=='mission'"><label>Mission:</label>{{data.title}}</div>
          <div *ngIf="typeAutocomplete=='document'"><label>Document:</label>{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='right'"><label>Role:</label>{{data.detailRight.nameRight}}</div>
          <div *ngIf="typeAutocomplete=='templateQuote'"><label>Quote:</label>{{data.nameTemplate}}</div>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="fetchedData.length == 0 && autocompleteSearch !=''">
    No results.
    <button
      class="addnew"
      *ngIf="typeAutocomplete=='user'"
      type="button" md-button
      (click)="createObj(typeAutocomplete)">
      <i class="fa fa-plus"></i> Add New User
    </button>
  </div>

  <div class="result" *ngFor="let data of arrayContent; let i=index">
    <table>
      <tr>
        <td class="listname" (click)="linkToObject(data)">
          <div *ngIf="typeAutocomplete=='user'">
            <div class="listname-img">
              <app-picture [addPicture]=false [deletePicture]=false [forms]="data.forms"></app-picture>
            </div>
            <div class="listname-txt">
              {{data.profile.name}} {{data.profile.lastName}}
            </div>
          </div>
          <div *ngIf="typeAutocomplete=='companie'"><label>Company:</label>{{data.nameCompanie}}</div>
          <div *ngIf="typeAutocomplete=='quote'"><label>Quote:</label>{{data.name}}</div>
          <div *ngIf="typeAutocomplete=='strat'"><label>Strategy:</label>{{data.title}}</div>
          <div *ngIf="typeAutocomplete=='mission'"><label>Mission:</label>{{data.title}}</div>
          <div *ngIf="typeAutocomplete=='brief'"><label>Brief:</label>{{data.questions.tryingToDo}}</div>
          <div *ngIf="typeAutocomplete=='project'"><label>Project:</label>{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='categorie'"><label>Marketing Field:</label>{{data.name}}</div>
          <div *ngIf="typeAutocomplete=='document'"><label>Document:</label>{{data.details.name}}</div>
          <div *ngIf="typeAutocomplete=='right'"><label>Role:</label>{{data.detailRight.nameRight}}</div>
        </td>
        <td class="remove">
          <button *ngIf="canDelete" type="button" (click)="removeData(i)">CHANGE</button>
        </td>
      </tr>
    </table>
  </div>
</div>
