.result {
  margin-bottom: 5px;
  position: relative;
  min-height: 40px;
}
.resultleft {
  padding: 0 8px;
  background-color: #5e5899;
  color: #ffffff;
  cursor: pointer;
}
.resultright {
  padding: 5px;
  background-color: #F5F5F5;
  width: 100%;
  cursor: pointer;
}
.resultemail {
  font-size: 12px;
  color: #aaaaaa !important;
}
.resultemail, .resultname {
  margin: 0 !important;
}
.remove {
  position: absolute;
  right: 0;
}
.remove button {
  font-size: 12px;
  padding: 5px 7px;
  border: 1px solid;
  border-radius: 3px;
  color: #f44336;
  margin-top: 25px;
}
.listname {
  width:155px !important;
}
.listname-img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 5px;
}
.listname-txt {
    font-size: 12px;
    height: 35px;
    padding-top: 5px;
    margin-top: 25px;
}
button.addnew {
  display: block;
  background-color: #5e5899;
  margin-top: 10px;
  color: #fff;
  padding: 10px;
  width: 100%;
}
label {
  display: block;
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #aaa;
  margin-top: 10px;
}
