.categ-top {
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .categ-top {
    margin-top: 20px;
  }
}
@media screen and (max-width: 992px) {
  .categ-top {
    margin-top: 120px;
  }
}
