<button type="button" (click)="editMode=!editMode" class="edit-btn">Edit</button>
<button *ngIf="editMode" type="button" (click)="addDocument()" class="add-object">
<p>Add Document</p><i class="fa fa-plus"></i></button>
<div *ngFor="let document of fetchedDocuments; let i = index">
  <mat-card class="single-doc">
    <mat-card-content>
      <div class="doc-info">
        <div class="doc-title">
          <div *ngIf="!document.link.length">
            <div *ngFor="let singleForm of document.forms" class="container-docimg">
              <div
                *ngIf="
                  singleForm.type === 'image/*' ||
                  singleForm.type === 'jpg' ||
                  singleForm.type === 'png' ||
                  singleForm.type === 'jpeg'
                  "
                [ngStyle]="{'background-image': 'url(/uploads/forms/' + singleForm.owner + '/' + singleForm.imagePath + ')'}"
                class="profimg">
              </div>
              <div
                *ngIf="singleForm.type === 'application/pdf'"
                [ngStyle]="{'background-image': 'url(assets/images/pdficon.png)'}"
                class="docimg">
              </div>
              <div
                *ngIf="
                  singleForm.type === 'csv' ||
                  singleForm.type === 'xls' ||
                  singleForm.type === 'xlsm' ||
                  singleForm.type === 'xlsx' ||
                  singleForm.type === 'xlsb' ||
                  singleForm.type === 'xlt' ||
                  singleForm.type === 'xltm' ||
                  singleForm.type === 'xltx' ||
                  singleForm.type === 'ods' ||
                  singleForm.type === 'odf'
                  "
                [ngStyle]="{'background-image': 'url(assets/images/sheeticon.png)'}"
                class="docimg">
              </div>
              <div
                *ngIf="
                  singleForm.type === 'doc' ||
                  singleForm.type === 'docm' ||
                  singleForm.type === 'docx' ||
                  singleForm.type === 'dot' ||
                  singleForm.type === 'dotm' ||
                  singleForm.type === 'dotx' ||
                  singleForm.type === 'rtf' ||
                  singleForm.type === 'rtx' ||
                  singleForm.type === 'indd' ||
                  singleForm.type === 'odt' ||
                  singleForm.type === 'one'
                  "
                [ngStyle]="{'background-image': 'url(assets/images/wordicon.png)'}"
                class="docimg">
              </div>
              <div
                *ngIf="
                  singleForm.type === 'ai' ||
                  singleForm.type === 'psd' ||
                  singleForm.type === 'odg'
                  "
                [ngStyle]="{'background-image': 'url(assets/images/imgicon.png)'}"
                class="docimg">
              </div>
              <div
                *ngIf="
                  singleForm.type === 'thmx' ||
                  singleForm.type === 'pot' ||
                  singleForm.type === 'potm' ||
                  singleForm.type === 'potx'  ||
                  singleForm.type === 'ppa'  ||
                  singleForm.type === 'ppam'  ||
                  singleForm.type === 'pps'  ||
                  singleForm.type === 'ppsm'  ||
                  singleForm.type === 'ppsx'  ||
                  singleForm.type === 'ppt'  ||
                  singleForm.type === 'pptm' ||
                  singleForm.type === 'pptx' ||
                  singleForm.type === 'odp'
                  "
                [ngStyle]="{'background-image': 'url(assets/images/prezicon.png)'}"
                class="docimg">
              </div>
              <div
                *ngIf="
                  singleForm.type === 'zip' ||
                  singleForm.type === 'rar'
                  "
                [ngStyle]="{'background-image': 'url(assets/images/zipicon.png)'}"
                class="docimg">
              </div>
            </div>
          </div>
          <div *ngIf="!document.link.length">
            <div
              [ngStyle]="{'background-image': 'url(assets/images/linkicon.png)'}"
              class="docimg">
            </div>
          </div>
          <p class="">{{document.details.name}}</p>
        </div>
        <a (click)="openLink(document)" class="open">open</a>
      </div>

      <div *ngIf="document.status.global == 'WIP'" class="doc-status">
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo ==='crew'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'REVIEW', 'client')" [(ngModel)]="fetchedDocuments[i].status.review" class="myturn">SEND FOR REVIEW</mat-slide-toggle>
        </div>
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo ==='client'">
          <p>WORK IN PROGRESS - NO ACTION REQUIRED</p>
        </div>
      </div>

      <div *ngIf="document.status.global == 'REVIEW'" class="doc-status">
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo === 'crew'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'WIP', 'crew')" [(ngModel)]="fetchedDocuments[i].status.review" class="yourturn">REVIEW REQUESTED</mat-slide-toggle>
        </div>
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo ==='client'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'COMPLETE', '')" [(ngModel)]="fetchedDocuments[i].status.approve" class="myturn">APPROVE</mat-slide-toggle>
          <br>
          <mat-slide-toggle (change)="changeStatus($event, i, 'CHANGES REQUEST', 'crew')" [(ngModel)]="fetchedDocuments[i].status.changeRequest" class="myturn">REQUEST CHANGES</mat-slide-toggle>
        </div>
      </div>

      <div *ngIf="document.status.global == 'CHANGES REQUEST'" class="doc-status">
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo === 'crew'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'CHANGES SENT', 'client')" [(ngModel)]="fetchedDocuments[i].status.changeSent" class="myturn">SEND APPLIED CHANGES</mat-slide-toggle>
          <p>SEE DOCUMENT AND/OR CHAT FOR INSTRUCTIONS</p>
        </div>
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo ==='client'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'REVIEW', 'crew')" [(ngModel)]="fetchedDocuments[i].status.changeRequest" class="yourturn">CHANGE REQUESTED</mat-slide-toggle>
          <p>NO ACTION REQUIRED</p>
        </div>
      </div>

      <div *ngIf="document.status.global == 'CHANGES SENT'" class="doc-status">
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo === 'crew'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'CHANGES REQUEST', 'crew')" [(ngModel)]="fetchedDocuments[i].status.changeSent">CHANGES SENT</mat-slide-toggle>
          <p>NO ACTION REQUIRED</p>
        </div>
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo ==='client'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'COMPLETE', '')" [(ngModel)]="fetchedDocuments[i].status.approve">APPROVE</mat-slide-toggle>
          <br>
          <mat-slide-toggle (change)="changeStatus($event, i, 'CHANGES REQUEST', 'crew')" [(ngModel)]="fetchedDocuments[i].status.changeRequest">REQUEST CHANGES</mat-slide-toggle>
        </div>
      </div>

      <div *ngIf="document.status.global == 'COMPLETE'" class="doc-status">
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo === 'crew'">
          <p>THE DOCUMENT IS APPROVED</p>
        </div>
        <div *ngIf="fetchedDocuments[i].currentUserBelongsTo ==='client'">
          <mat-slide-toggle (change)="changeStatus($event, i, 'CHANGES SENT', 'client')" [(ngModel)]="fetchedDocuments[i].status.approve">APPROVED</mat-slide-toggle>
        </div>
      </div>
      <div *ngIf="editMode" class="editdoc">
        <button type="button" (click)="openDetails(document._id)" class="edit-btn">Edit</button>
        <button type="button" (click)="delete(document._id)" class="delete-x">Delete</button>
      </div>
      <div *ngIf="!search.briefId">
        <div class="doc-state-bar">
          <div [ngClass]="{'off':
            document.status.global==='WIP'
           }">
            <div class="doc-state-bottom">
              <div class="circle"></div>WIP</div>
          </div>
          <div [ngClass]="{'off':
            document.status.global==='WIP' ||
            document.status.global==='REVIEW'
           }">
            <div class="doc-state-bottom">
              <div class="circle"></div>REVIEW</div>
          </div>
          <div [ngClass]="{'off':
            document.status.global==='WIP' ||
            document.status.global==='REVIEW' ||
            document.status.global==='CHANGES REQUEST'
           }">
            <div class="doc-state-bottom">
              <div class="circle"></div>CHANGES</div>
          </div>
          <div [ngClass]="{'off':
            document.status.global==='WIP' ||
            document.status.global==='REVIEW' ||
            document.status.global==='CHANGES REQUEST' ||
            document.status.global==='CHANGES SENT'
           }">
            <div class="doc-state-bottom end">
              <div class="circle"></div>COMPLETE</div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
