<button type="button" (click)="addDocument()">+</button>
<div *ngFor="let document of fetchedDocuments">
  <md-card>
    <md-card-content>
      <button type="button" (click)="delete(document._id)">X</button>
      <button type="button" (click)="openDetails(document._id)">Open</button>
      <br>
      <img height="100px" src="assets/images/google_sheet.ico">
      <div class="centre">{{document.details.name}}</div>
      <a target="_blank" href="{{document.link}}">open</a>

    </md-card-content>
  </md-card>
</div>
