<div *ngFor="let document of fetchedDocuments; let i = index;">
  <mat-card class="single-doc">
    <mat-card-content>
      <div class="doc-info">
        <div class="doc-title">
          <div *ngIf="!document.link.length">
            <app-picture [isInList]=true [addPicture]=false [loadSinglePicture]=true [forms]="document.forms"></app-picture>
            <p class="">{{document.details.name}}</p>
          </div>
          <div *ngIf="document.link.length">
            <div class="container-docimg">
              <div
                [ngStyle]="{'background-image': 'url(assets/images/linkicon.png)'}"
                class="docimg">
              </div>
            </div>
          </div>
        </div>
        <a (click)="openLink(document)" class="open">open</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
