.indiv-chat {
  clear: both;
  margin-bottom: 5px;
}
.pic-container {
  border: 1px solid #4a148c;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 100px;
  width: 40px;
}
.chat-content {
  margin-left: 55px;
}
.read-chat {
  overflow: auto;
  padding: 24px;
}
.write-chat, .write-chat textarea {
  width: 100%;
}
.write-chat {
  background-color: #ffffff;
  border-top: 1px solid #330066;
  position: absolute;
  bottom: 0;
}
.write-chat textarea {
  border: none;
  padding: 15px;
  vertical-align: bottom;
}
.write-chat .edit-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.chat-content p {
  margin-bottom: 0;
}
.gotochat-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #330066;
  color: #ffffff;
  padding: 8px 16px;
}
@media screen and (min-height: 660px) and (min-width: 660px) {
  .read-chat {
    height: 75vh;
  }
}
@media screen and (min-height: 660px) and (max-width: 559px) {
  .read-chat {
    height: 80vh;
  }
}
@media screen and (min-height: 550px) and (max-height: 659px) {
  .read-chat {
    height: 75vh;
  }
}
@media screen and (min-height: 480px) and (max-height: 549px) {
  .read-chat {
    height: 70vh;
  }
}
@media screen and (min-height: 400px) and (max-height: 479px) {
  .read-chat {
    height: 65vh;
  }
}
@media screen and (min-height: 350px) and (max-height: 399px) {
  .read-chat {
    height: 60vh;
  }
}
@media screen and (min-height: 275px) and (max-height: 349px) {
  .read-chat {
    height: 50vh;
  }
}
@media screen and (max-height: 274px) {
  .read-chat {
    height: 40vh;
  }
}
