.indiv-chat {
  clear: both;
  margin-bottom: 5px;
}
.pic-container {
  border: 1px solid #4a148c;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 100px;
  width: 40px;
}
.chat-content {
  margin-left: 55px;
}
.write-chat, .write-chat textarea {
  width: 100%;
}
.write-chat {
  background-color: #ffffff;
  border-top: 1px solid #330066;
  position: absolute;
  bottom: 0;
  left: 0;
}
.write-chat textarea {
  border: none;
  padding: 15px;
  vertical-align: bottom;
}
.write-chat .edit-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.chat-content p {
  margin-bottom: 0;
}
.gotochat-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #330066;
  color: #ffffff;
  padding: 8px 16px;
}
