.single-doc {
  box-shadow: none !important;
  background-color: #f4f4f4 !important;
  margin: 15px 0 35px;
  padding: 0 15px !important;
}
.doc-title {
  height: 50px;
  display: flex;
  align-items: center;
  float: left;
  max-width: 50px;
}
.doc-info {
  display: inline-block;
  width: 100%;
  margin: 15px 0 !important;
}
.open {
  text-transform: uppercase;
  border: 1px solid;
  float: right;
}
.open a {
  text-decoration: none !important;
}
img.doc-icon {
  float: left;
  width: 35px;
  margin-right: 15px;
}
.doc-title p {
  margin: 0;
}
.doc-state-bottom {
  float: left;
  border-top: 1px solid;
}
.circle {
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  margin-top: -7px;
}
.on {
  color: #330066;
}
.off {
  color: #cccccc;
}
.end {
  border-color: transparent !important;
}
.cho-filcnt img {
  max-width: 100% !important;
}
.editdoc {
  padding-bottom: 15px;
}
.editdoc:after {
  content: "";
  display: block;
  clear: both;
}
.docproginfo {
  padding-bottom: 15px;
}
.doc-state-bar {
  padding-top: 15px;
}
.mat-slide-toggle {
  margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
  .doc-state-bottom {
    width: 16%;
    font-size: 12px;
  }
  .open {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 599px) {
  .doc-state-bottom {
    width: 25%;
    font-size: 10px;
  }
  .open {
    padding: 10px 15px;
  }
}
