<div>
  <h2 class="sidewrapper">Mission</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="sidewrapper greyback">
      <app-autocomplete [typeAutocomplete]="'project'" [canDelete]=true [search]="search" [title]="" [singleChoice]=true [arrayContent]="fetchedMission.projects" [placeholderString]="'Project'">
      </app-autocomplete>
      <app-autocomplete [typeAutocomplete]="'categorie'" [canDelete]=true [search]="search" [title]="" [singleChoice]=true [arrayContent]="fetchedMission.categories" [placeholderString]="'Marketing Field'">
      </app-autocomplete>
      <mat-form-field>
        <input matInput type="text" formControlName="title" [(ngModel)]="fetchedMission.title" placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="description" [(ngModel)]="fetchedMission.description" placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <div class="sidewrapper">
      <label class="label-title">Assign Crew Members</label>
      <app-autocomplete [typeAutocomplete]="'user'" [singleChoice]=false [arrayContent]="fetchedMission.users" [placeholderString]="'Add Email'">
      </app-autocomplete>
      <mat-form-field>
        <input matInput type="date" formControlName="startString" [(ngModel)]="fetchedMission.dateMission.startString">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" formControlName="endString" [(ngModel)]="fetchedMission.dateMission.endString">
      </mat-form-field>
    </div>
    <div class="sidewrapper valid-edit">
      <button type="submit" class="save">{{'Save' }}</button>
      <button *ngIf="fetchedMission._id" type="button" class="delete" md-button (click)="openDeleteConfirmation()">
        Delete
      </button>
    </div>
  </form>
</div>
