<div>
  <h2 class="sidewrapper">Mission Crew</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="sidewrapper">
      <app-autocomplete
        [typeAutocomplete]="'user'"
        [singleChoice]=false
        [search]="{isExternalUser:false}"
        [arrayContent]="fetchedMission.users">
      </app-autocomplete>
    </div>
    <div class="sidewrapper valid-edit">
      <button type="submit" class="save">{{'Save' }}</button>
      <button *ngIf="fetchedMission._id" type="button" class="delete" md-button (click)="openDialogDelete()">
        Delete
      </button>
    </div>
  </form>
</div>
