<div class="djoa-container no-image">
  <div *ngFor="let project of fetchedMission.projects" class="top-nav-chat">
    <a (click)="goBack()" class="top-left-chat">< Back</a>
    <h3 class="top-right-chat">{{project.details.name}}</h3>
  </div>

  <div class="mission-nav">
    <div *ngIf="buttonDataMission.left._id" (click)="goTo('mission', buttonDataMission.left._id)" class="previous">
      <i class="fa fa-chevron-left"></i> {{buttonDataMission.left.title}}
    </div>
    <div *ngIf="buttonDataMission.right._id" (click)="goTo('mission', buttonDataMission.right._id)" class="next">
      {{buttonDataMission.right.title}} <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="single-chat">
    <mat-card class="chat">
      <mat-card-content>
        <app-chat [search]="search"></app-chat>
      </mat-card-content>
    </mat-card>
  </div>
</div>
