<div class="djoa-container">
  <div *ngFor="let project of fetchedMission.projects">
    <h1>{{project.details.name}}</h1>
  </div>

  <div class="mission-nav">
    <div *ngIf="buttonDataMission.left._id" (click)="goTo('mission', buttonDataMission.left._id)" class="previous">
      <i class="fa fa-chevron-left"></i> {{buttonDataMission.left.title}}
    </div>
    <div *ngIf="buttonDataMission.right._id" (click)="goTo('mission', buttonDataMission.right._id)" class="next">
      {{buttonDataMission.right.title}} <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <div class="col-md-12">
    <mat-card class="chat">
      <mat-card-content>
        <app-chat [search]="search"></app-chat>
      </mat-card-content>
    </mat-card>
  </div>
</div>
