<div class="djoa-container">
  <div *ngFor="let strat of fetchedBrief.strats">
    <h1 class="bigmarg">({{strat.title}})</h1>
  </div>
  <div class="col-md-12 col-lg-6">
    <mat-card>
      <mat-card-content>
        <h2>Brief</h2>
        <div class="briefentry">
          <label>{{'What are you trying to do in one sentence?' }}</label>
          <p>{{fetchedBrief.questions.tryingToDo}}</p>
        </div>
        <div class="briefentry">
          <label>{{'What is your goal? How will you measure it?' }}</label>
          <p>{{fetchedBrief.questions.goal}}</p>
        </div>
        <div class="briefentry">
          <label>{{'Do you have existing assets for this project? If so, what are they?' }}</label>
          <p>{{fetchedBrief.questions.existingAssets}}</p>
        </div>
        <div class="briefentry">
          <label>{{'What is your company’s website?' }}</label>
          <p>{{fetchedBrief.questions.companyWebsite}}</p>
        </div>
        <div class="editbrief">
          <button type="button" (click)="openDetails(fetchedBrief._id)" class="review-brief">Edit Brief</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <mat-card>
      <mat-card-content>
        <h2>Documents Relevant to project</h2>
        <app-documents [search]="search"></app-documents>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="clearfix"></div>
  <div class="backtobottom">
    <h5 (click)="goToStrat()">Back to Strategy <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
  </div>
</div>
