<div>
  <h2 class="sidewrapper">Brief</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="specialwrapper">
      <app-autocomplete [typeAutocomplete]="'strat'" [search]="search" [canDelete]=true [singleChoice]=true [arrayContent]="fetchedBrief.strats">
      </app-autocomplete>
    </div>
    <div class="sidewrapper">
      <label class="firstquestion">What are you trying to do in one sentence?</label>
      <mat-form-field>
        <textarea matInput type="text" formControlName="tryingToDo" [(ngModel)]="fetchedBrief.questions.tryingToDo"></textarea>
      </mat-form-field>
      <label class="questions">What is your goal? How will you measure it?</label>
      <mat-form-field>
        <textarea matInput type="text" formControlName="goal" [(ngModel)]="fetchedBrief.questions.goal"></textarea>
      </mat-form-field>
      <label class="questions">Do you have existing assets for this project? If so, what are they?</label>
      <mat-form-field>
        <textarea matInput type="text" formControlName="existingAssets" [(ngModel)]="fetchedBrief.questions.existingAssets"></textarea>
      </mat-form-field>
      <label class="questions">What is your company’s website?</label>
      <mat-form-field>
        <textarea matInput type="text" formControlName="companyWebsite" [(ngModel)]="fetchedBrief.questions.companyWebsite"></textarea>
      </mat-form-field>
    </div>
    <div class="sidewrapper valid-edit">
      <button type="submit" class="save" [disabled]="!myForm.valid">{{'Save' }}</button>
      <button *ngIf="fetchedBrief._id" type="button" class="delete" md-button (click)="openDeleteConfirmation()">{{'Delete' }}</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
