<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3>Brief</h3>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">


        <app-autocomplete [typeAutocomplete]="'strat'" [search]="search" [canDelete]=true [title]="'strat'" [singleChoice]=true [arrayContent]="fetchedBrief.strats">
        </app-autocomplete>



          <label>What are you trying to do in one sentence?</label>
          <mat-form-field>
            <input matInput type="text" formControlName="tryingToDo" [(ngModel)]="fetchedBrief.questions.tryingToDo" placeholder="tryingToDo">
          </mat-form-field>


          <label>What is your goal? How will you measure it?</label>
          <mat-form-field>
            <input matInput type="text" formControlName="goal" placeholder="goal" [(ngModel)]="fetchedBrief.questions.goal">
          </mat-form-field>


          <label>Do you have existing assets for this project? If so, what are they?</label>
          <mat-form-field>
            <input matInput type="text" formControlName="existingAssets" placeholder="existingAssets" [(ngModel)]="fetchedBrief.questions.existingAssets">
          </mat-form-field>


          <label>What is your company’s website?</label>
          <mat-form-field>
            <input matInput type="text" formControlName="companyWebsite" placeholder="companyWebsite" [(ngModel)]="fetchedBrief.questions.companyWebsite">
          </mat-form-field>



        <div class="valid-edit">
          <button type="submit" class="done btn btn-success" [disabled]="!myForm.valid">{{'Save' }}</button>
          <button *ngIf="fetchedBrief._id" type="button" class="delete" md-button (click)="openDeleteConfirmation()">
        {{'Delete' }}
      </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
