<div>
  <div class="pic-container">
    <app-picture [addPicture]=false [deletePicture]=false [forms]="fetchedUser.forms"></app-picture></div>
  <h2 class="my-name">{{fetchedUser.profile.name}} {{fetchedUser.profile.lastName}}</h2>
  <h5>{{fetchedUser.profile.title}}</h5>
  <button (click)="editMode = !editMode" class="profile-button">Edit Profile</button>
  <app-newUser *ngIf="editMode" [fetchedUser]="fetchedUser" (saved)="save()"></app-newUser>

  <button type="button" (click)="editSettings = !editSettings" class="profile-button">Settings</button>
  <app-settings-user *ngIf="editSettings" [fetchedUser]="fetchedUser" (saved)="save()"></app-settings-user>
  <button type="button" (click)="logout()" class="profile-button">Logout</button>
</div>
