<form [formGroup]="myForm" novalidate (ngSubmit)="save()" class="sidebarright-sub">
  <mat-form-field>
    <input matInput type="text" class="form-control" formControlName="email" [(ngModel)]="fetchedUser.email" placeholder="email">
  </mat-form-field>

  Emails Preference
  I would like to get ...
  <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUser.profile.emailPreferences.frequencyEmail">
    <mat-radio-button value="asTheyHappen">As they happen</mat-radio-button>
    <mat-radio-button value="onceADay">Once a Day</mat-radio-button>
    <mat-radio-button value="onceAWeek">Once a Week</mat-radio-button>
    <mat-radio-button value="never">Never</mat-radio-button>
  </mat-radio-group>
  <div class="valid-edit">
    <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'done':myForm.valid,'pas-done':!myForm.valid}">Done</button>
  </div>
  <div class="clearfix"></div>
</form>
<app-change-password></app-change-password>
