<mat-card>
  <mat-card-title>
    Search
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <app-autocomplete
        class="col-4"
        (getResultAutocomplete)="refreshSearch()"
        (clearAutocomplete)="refreshSearch()"
        [typeAutocomplete]="'strat'"
        [canDelete]=true
        [title]="'Strat'"
        [singleChoice]=true
        [arrayContent]="searchStrats">
      </app-autocomplete>
      <app-autocomplete
        class="col-4"
        (getResultAutocomplete)="refreshSearch()"
        (clearAutocomplete)="refreshSearch()"
        [typeAutocomplete]="'mission'"
        [canDelete]=true
        [title]="'mission'"
        [singleChoice]=true
        [arrayContent]="searchMissions">
      </app-autocomplete>
      <app-autocomplete
        class="col-4"
        (getResultAutocomplete)="refreshSearch()"
        (clearAutocomplete)="refreshSearch()"
        [typeAutocomplete]="'user'"
        [canDelete]=true
        [title]="'user'"
        [singleChoice]=true
        [arrayContent]="searchUsers">
      </app-autocomplete>
      <app-autocomplete
        class="col-4"
        (getResultAutocomplete)="refreshSearch()"
        (clearAutocomplete)="refreshSearch()"
        [typeAutocomplete]="'document'"
        [canDelete]=true
        [title]="'document'"
        [singleChoice]=true
        [arrayContent]="searchDocuments">
      </app-autocomplete>

      <div class="col-4">
        start
        <input type="date" (change)="refreshSearch()" class="form-control" [(ngModel)]="startString">
      </div>
      <div class="col-4">
        end
        <input type="date" (change)="refreshSearch()" class="form-control" [(ngModel)]="endString">
      </div>
    </div>
  </mat-card-content>
</mat-card>
