<div class="djoa-container">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div>
      <div>
        <label class="categ-top">{{'Category Name' }}</label>
        <input type="text" class="form-control col-md-8" formControlName="name" placeholder="name" [(ngModel)]="fetchedCategorie.name">
      </div>
      <!---<div>
        <label>{{'Description' }}</label>
        <input type="text" class="form-control col-md-10" formControlName="description" placeholder="description" [(ngModel)]="fetchedCategorie.description">
      </div>-->
      <div>
        <label class="categ-top">{{'Icon' }} Example: eraser</label>
        <input type="text" class="form-control col-md-10" formControlName="icone" placeholder="description" [(ngModel)]="fetchedCategorie.icone">
      </div>
    </div>
    <div class="container">
      <div class="valid-edit">
        <button type="submit" class="done btn btn-success" [disabled]="!myForm.valid">{{'Save' }}</button>
        <button *ngIf="fetchedCategorie._id" type="button" class="delete btn btn-danger" md-button (click)="openDeleteConfirmation()">Delete</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
