<div *ngIf="showNavBar">


  <!-- <div> -->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-goo">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngFor="let companie of fetchedUser.ownerCompanies">

      <a href="#">
        <div *ngFor="let form of companie.forms">
          <img class="logo-img" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/marker.png'">
        </div>

        <div *ngIf="!companie.forms.length">
          <img class="logo-img" src="./assets/images/marker.png">
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'Administration' | translate}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li *ngIf="showObjHTML('product')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/product']">{{'Products' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('user')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']">{{'Users' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('companie')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/companie']">{{'Companies' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('quote')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/quote']">{{'Quotes' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('expense')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/expense']">{{'Expenses' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('paiementQuote')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/paiementQuote']">{{'Paiements' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('right')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/right']">{{'Rights' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('reporting')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reporting']">{{'Reporting' | translate}}</a>
          </li>
        </div>
      </div> -->

      <ul class="navbar-nav mr-auto">
<!--
        <li *ngIf="showObjHTML('project')" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/project']">{{'Projects' | translate}} </a>
        </li>

        <li *ngIf="showObjHTML('task')" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/task']">{{'Tasks' | translate}} </a>
        </li>




        <li *ngIf="showObjHTML('userCalendar')" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]">{{'My Planning' | translate}}</a>
        </li>





        <li *ngIf="!isCurrentUserIsInSubPeriod()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/user/paiement']">{{'Finish subscription' | translate}}</a>
        </li> -->


      </ul>





      <div class="form-inline my-2 my-lg-0" align="right" style="margin-right:40px;">
        <ul class="navbar-nav mr-auto" align="right">
          <li>
            <a [routerLink]="['/user/list/false']" routerLinkActive="active2">
              <i class="fa fa-users fa-2x icomarg" aria-hidden="true">

              </i>

            </a>
          </li>
          <li>
              <a routerLinkActive="active2" [routerLink]="['/task']">
                <i class="fa fa-tasks fa-2x icomarg" aria-hidden="true">
                </i>

              </a>
            </li>

            <li>
              <a [routerLink]="['/notification']" (click)="cleanNotifications()" routerLinkActive="active2">
                <i class="fa fa-bell fa-2x icomarg" aria-hidden="true">
                  {{notificationsNotRead}}
                </i>

              </a>
            </li>
          <li>
              <a [routerLink]="" routerLinkActive="active2">
                <i class="fa fa-plus fa-2x icomarg" aria-hidden="true">

                </i>

              </a>
            </li>
          <li>
              <a [routerLink]="['/user/' + fetchedUser._id]" routerLinkActive="active2">
                  <i class="fa fa-user fa-2x icomarg" aria-hidden="true">

                  </i>

              </a>
          </li>
         </ul>

        </div>



        <button type="button" class="spcright btn btn-secondary" (click)="logout()">
          {{'Logout' | translate}}
        </button>
        <!--
        <button type="button" class="spcright btn btn-primary" [routerLink]="['/user/newuser/' + fetchedUser._id]" routerLinkActive="active">
          {{'My Profile' | translate}}
        </button>

        <button type="button" class="spcright btn btn-primary" [routerLink]="['/companie/mine']" routerLinkActive="active">
          {{'My company' | translate}}
        </button>
          -->

    </div>

  </nav>
</div>
<!-- </div> -->
