.nav-container {
  top: 0 !important;
  width: 100%;
  min-width: 300px;
  height: 44px !important;
}
.nav.rightmenu, .nav.leftmenu {
  z-index: 5;
  position: relative;
}
.nav.rightmenu {
  float: right;
}
.opensidebarright {
  background-color: #ffffff;
}
.nav.leftmenu {
  float: left;
}
.fa-home {
  padding: 10px !important;
}
.navhome button {
  margin-right: 15px;
}
a.nav-link {
  padding: 0 1em !important;
}
.fa-bars {
  color: #5e5899;
  margin-right: 15px;
  padding: 7px;
}
.navadd button, .navnotif button, .navhome button {
  color: #ffffff !important;
  font-weight: 500;
  background: #5e5899;
  position: relative;
}
.navadd .fa.fa-plus:after, .navnotif button:before, .navhome button:before, .navadd .fa.fa-plus:after, .navnotif button:after, .navhome button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
}
.adm-btn {
  color: #ffffff;
  background-color: #5e5899;
  border: 1px solid;
  margin: 10px 50px;
  height: 40px;
}
.pic-container {
  border: 1px solid #5e5899;
  background-color: #ffffff;
  border-radius: 100px;
}
img.logo-top {
  width: 70px;
}
.classOuvert {
  background-color: #ffffff !important;
}
@media screen and (min-width: 1200px) {
  .nav.leftmenu {
    margin-left: 126px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .nav.leftmenu {
    margin-left: 88px;
  }
}
@media screen and (min-width: 992px) {
  .nav-container {
    position: absolute;
  }
  .navadd button, .navnotif button, fa-home {
    width: 40px;
    height: 24px;
  }
  .navadd button:after, .navnotif button:before, .navhome button:before {
    top: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #5e5899;
  }
  .navadd button:after, .navnotif button:after, .navhome button:after {
    bottom: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #5e5899;
  }
  .navadd .fa.fa-plus {
    padding: 12px;
  }
  .navnotif button {
    margin: 10px 0;
  }
  .navadd button {
    margin: 10px 25px;
  }
  .pic-container {
    width: 65px;
    height: 65px;
    padding: 1px;
  }
  .nav.rightmenu, .nav.leftmenu {
    padding: 15px;
  }
  .nav.rightmenu {
    width: 250px;
  }
  .logo-wrap {
    padding: 6px 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 991px) {
  .nav-container {
    background-color: #fff;
    z-index: 15;
    box-shadow: 0 0 5px #ccc;
    position: fixed;
  }
  .navadd button, .navnotif button, .pic-container {
    font-size: 14px;
  }
  .navadd .fa.fa-plus {
    padding: 8px;
  }
  .navadd button, .navnotif button {
    width: 30px;
    height: 20px;
    margin-top: 5px;
  }
  .navadd button:after, .navnotif button:before, .fa-home:before {
    top: -5px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 5px solid #5e5899;
  }
  .navadd button:after, .navnotif button:after, .fa-home:after {
    bottom: -5px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 5px solid #5e5899;
  }
  .nav.rightmenu, .nav.leftmenu {
    padding: 7px;
  }
}
