.nav-container {
  z-index: 5;
  position: absolute;
  width: 100%;
}
.nav.rightmenu {
  float: right;
}
.nav.leftmenu {
  float: left;
  z-index: 999;
}
.fa-home {
  color: #ffffff !important;
  background-color: #330066 !important;
  padding: 10px !important;
  border: 1px solid !important;
  border-radius: 20px !important;
}
a.nav-link {
  padding: 0 1em !important;
}
.fa-bars {
  color: #4a148c;
}
.navadd .fa.fa-plus, .navnotif button {
  color: #fff;
  border-radius: 100px;
  font-weight: 500;
  border: 1px solid;
}
.navadd .fa.fa-plus {
  background-color: #330066;
  border-color: #330066;
}
.navnotif button {
  background-color: #f44336;
}
.adm-btn {
  color: #ffffff;
  background-color: #330066;
  border: 1px solid;
  margin: 10px 50px;
  height: 40px;
}
.pic-container {
  border: 1px solid #4a148c;
  background-color: #ffffff;
  border-radius: 100px;
}

@media screen and (max-width: 1199px) {
  .nav.leftmenu {
    margin-left: 1%;
  }
}

@media screen and (min-width: 1200px) {
  .nav.leftmenu {
    margin-left: 4%;
  }
}

@media screen and (min-width: 992px) {
  .navadd .fa.fa-plus, .navnotif button {
    width: 40px;
    height: 40px;
  }
  .navadd .fa.fa-plus {
    margin: 10px 20px;
    padding: 12px;
  }
  .navnotif button {
    margin: 10px 0;
  }
  .pic-container {
    width: 65px;
    padding: 1px;
  }
  .nav.rightmenu, .nav.leftmenu {
    padding: 15px;
  }
}

@media screen and (max-width: 991px) {
  .nav-container {
    background-color: #fff;
  }
  .navadd .fa.fa-plus, .navnotif button, .pic-container {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .navadd .fa.fa-plus {
    margin: 0 10px;
    padding: 8px;
  }
  .nav.rightmenu, .nav.leftmenu {
    padding: 7px;
  }
}
