<div class="container">
  <div>
    <h3>Strat</h3>
    <h4 class="">id: {{fetchedStrat._id}}</h4>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>
        <app-autocomplete [typeAutocomplete]="'project'" [search]="search" [canDelete]=true [title]="'Project'" [singleChoice]=true [arrayContent]="fetchedStrat.projects">
        </app-autocomplete>
        type: {{fetchedStrat.stratType}}
        <input type="text" class="form-control" formControlName="title" [(ngModel)]="fetchedStrat.title" placeholder="title">
        <textarea class="form-control" formControlName="description" [(ngModel)]="fetchedStrat.description" placeholder="Description">
        </textarea>
        <app-autocomplete [typeAutocomplete]="'user'" [singleChoice]="'true'" [arrayContent]="fetchedStrat.users" (getResultAutocomplete)="selectAssignedTo($event[0])">
        </app-autocomplete>
        <input type="date" class="form-control" formControlName="startString" [(ngModel)]="fetchedStrat.dateStrat.startString">
        <input type="date" class="form-control" formControlName="endString" [(ngModel)]="fetchedStrat.dateStrat.endString">
      </div>
      <div class="valid-edit">
        <button type="submit" class="sln-edt done">{{'Save' }}</button>
        <button *ngIf="fetchedStrat._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
