<div>
  <h2 class="greyback sidewrapper">Strategy</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
    <div class="greyback sidewrapper">
      <app-autocomplete [typeAutocomplete]="'project'" [search]="search" [canDelete]=true [title]="" [singleChoice]=true [arrayContent]="fetchedStrat.projects">
      </app-autocomplete>
      <mat-form-field>
        <input matInput type="text" formControlName="title" [(ngModel)]="fetchedStrat.title" placeholder="title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput class="form-control" formControlName="description" [(ngModel)]="fetchedStrat.description" placeholder="Description">
      </textarea>
    </mat-form-field>
    </div>
    <div class="sidewrapper">
      <label class="label-title">Project Owners</label>
      <app-autocomplete [typeAutocomplete]="'user'" [singleChoice]="'true'" [arrayContent]="fetchedStrat.users">
      </app-autocomplete>
      <!---<mat-form-field>
        <input matInput type="date" class="form-control" formControlName="startString" [(ngModel)]="fetchedStrat.dateStrat.startString">
      </mat-form-field>--->
      <mat-form-field>
        <input matInput type="date" class="form-control" formControlName="endString" [(ngModel)]="fetchedStrat.dateStrat.endString">
      </mat-form-field>
    </div>
    <div class="sidewrapper valid-edit">
      <button type="submit" class="save">{{'Save' }}</button>
      <button *ngIf="fetchedStrat._id" type="button" class="delete" md-button (click)="openDialogDelete()">Delete</button>
    </div>
  </form>
</div>
