<div class="djoa-container">
  <div>
    <h1 class="bigmarg">{{fetchedStrat.title}}</h1>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="lineback dspl-nn-dsktp">
      <mat-card class="chat-card">
        <mat-card-content>
          <app-chat [search]="search"></app-chat>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="lineback">
      <mat-card>
        <mat-card-content>
          <h4>Project Goal</h4>
          <app-briefs [search]="search"></app-briefs>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="lineback">
      <mat-card>
        <mat-card-content>
          <h2>Recommended Strategy</h2>
          <button type="button" class="edit-btn" (click)="openDetails()">Edit</button>
          <p>{{fetchedStrat.description}}</p>
          <section>
            <mat-progress-bar [value]="fetchedStrat.dateStrat.percentageProgress"></mat-progress-bar>
            <p class="percent">{{fetchedStrat.dateStrat.percentageProgress}}%</p>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="lineback">
      <mat-card class="card-margin">
        <mat-card-content>
          <h2>Links to Documents</h2>
          <app-documents [search]="{stratId: search.stratId, myDocuments:false}"></app-documents>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-content>
        <h2>Crew Members for this Strategy</h2>
        <button type="button" (click)="openTeam()" class="edit-btn">Edit</button>
        <div *ngFor="let user of fetchedStrat.users" class="indiv-team">
          <div (click)="openProfile(user._id)">
            <div class="pic-container"><app-picture [addPicture]=false [deletePicture]=false [forms]="user.forms"></app-picture></div>
          </div>
          <p>{{user.profile.name}} {{user.profile.lastName}}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="bottom-shadow"></div>
  </div>
  <div class="col-md-12 col-lg-6 dspl-nn-mbl">
    <mat-card class="chat">
      <mat-card-content>
        <app-chat [search]="search"></app-chat>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="clearfix"></div>
  <div class="backtobottom">
    <div *ngFor="let project of fetchedStrat.projects">
      <h5 [routerLink]="['/project/' + project._id]">Back to Project <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
    </div>
  </div>
</div>
