<div class="djoa-container">
  <div>
    <h1 class="bigmarg">Project Title Here</h1>
  </div>
  <div class="col-md-12 col-lg-6 lineback">
    <mat-card class="card-margin dspl-nn-dsktp chat-card">
      <mat-card-content>
        <app-chat [search]="search"></app-chat>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-margin">
      <mat-card-content>
        <h4>Project Goal</h4>
        <app-briefs [search]="search"></app-briefs>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-margin">
      <mat-card-content>
        <h2>Recommended Strategy</h2>
        <button type="button" class="edit-btn">Edit</button>
        <p>Here there should be a one sentence input that the strategist can fill in and edit using edit button above</p>
        <section>
          Here we need to add the strategy progress bar like we did for Missions
        </section>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-margin">
      <mat-card-content>
        <h2>Links to Documents</h2>
        <app-documents [search]="search"></app-documents>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2>Crew Members for this Strategy</h2>
        <button type="button" (click)="openTeam()" class="edit-btn">Edit</button>
        <div *ngFor="let user of fetchedStrat.users" class="indiv-team">
          <div (click)="openProfile(user._id)">
            <div class="pic-container"><app-picture [addPicture]=false [deletePicture]=false [forms]="user.forms"></app-picture></div>
          </div>
          <p>{{user.profile.name}} {{user.profile.lastName}}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="bottom-shadow"></div>
  </div>
  <div class="col-md-12 col-lg-6 dspl-nn-mbl">
    <mat-card class="chat">
      <mat-card-content>
        <app-chat [search]="search"></app-chat>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="clearfix"></div>
  <div class="backtobottom">
    <h5>Back to Project <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
  </div>
</div>
