.col-md-12, .col-lg-6 {
  float: left;
  max-height: 75vh;
  height: auto;
}
.mission-nav {
  color: #c9c9c9;
  opacity: 0.5;
  padding: 0 15px;
  height: 30px;
}
.lineback section {
  position: relative;
}
.lineback mat-progress-bar.mat-progress-bar.mat-primary {
  height: 38px !important;
}
.previous {
  float: left;
}
.next {
  float: right;
}
.lineback {
  background: -webkit-linear-gradient(left, transparent 5%, white 5%, white 5.1%,transparent 5.1%);
  overflow-y: auto;
  overflow-x: hidden;
}
.card-margin {
  margin-bottom: 30px;
}
.chat {
  background-color: #f4f4f4;
  padding: 0;
  height: 100%;
}
.pic-container {
  width: 50px;
  padding: 0 !important;
  margin-right: 15px;
}
.indiv-team {
  clear: both;
  margin-bottom: 15px;
  height: 50px;
}
.indiv-team p {
  margin: 0;
  padding:15px 0;
}
.no-image {
  background: none !important;
  color: #eee;
}
.single-chat {
  position: absolute;
  top: 85px;
  bottom: 0;
  right: 0;
  left: 0;
}
.top-nav-chat {
  padding: 7px 5px;
}
.back-chat {
  float: left;
}
.chat-card {
  height: 120px !important;
  padding: 0 !important;
  padding-right: 100px !important;
}
.list-on {
  width: 100%;
  height: 60px;
  padding: 5px;
  text-transform: uppercase;
  vertical-align: middle !important;
  display: table-cell;
  font-size: 14px;
  font-weight: 500;
}
.selected .list-on {
  background-color: #4a148c;
  color: #fff;
}
.selected {
  display: table;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .mission-nav {
    margin-top: 80px;
  }
}
@media screen and (min-width: 992px) {
  .indiv-chat {
    margin-bottom: 0 !important;
  }
}
