.col-md-6 {
  float: left;
}
.mission-nav {
  margin-top: 80px;
  color: #c9c9c9;
  opacity: 0.5;
  padding: 0 15px;
  height: 30px;
}
.lineback section {
  position: relative;
}
.lineback md-progress-bar.mat-progress-bar.mat-primary {
  height: 38px !important;
}
.previous {
  float: left;
}
.next {
  float: right;
}
.lineback {
  background: -webkit-linear-gradient(left, transparent 5%, white 5%, white 5.1%,transparent 5.1%);
}
.card-margin {
  margin-bottom: 30px;
}
.chat {
  min-height: 500px;
  background-color: #f4f4f4;
  padding: 0;
}
.pic-container {
  width: 50px;
  padding: 0 !important;
  margin-right: 15px;
}
.indiv-team {
  clear: both;
  margin-bottom: 15px
  height: 50px;
}
.indiv-team p {
  margin: 0;
  padding:15px 0;
}
