<!-- <div *ngIf="showHeader" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> {{ 'Back' | translate }}</a></i></button></div>
  <div class="col-md-6">
    <h3 class="title">{{ 'Project' | translate }}</h3></div>
  <div class="col-md-3"></div>
</div> -->
<div class="container">
  <div class="row">
<app-header [showHeader]="showHeader" [openInDialog]=true [nameObject]="'project'"></app-header>
</div>


<!-- <div class="clearfix col-md-10">
  <button class="btn btn-success float-right" [routerLink]="['/project/new/' + userId]" routerLinkActive="active"><i class=""></i>Créer un nouveau Projet</button>
</div> -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ 'List' | translate }}</h4>
      </div>
      <div class="card-block clearfix">
        <div id="wrapper" class="subsubnav-clients float-left">
          <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchProjects()">
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <!--
              <th class="tbl-left">
                <!-- <button class="updownbtn" (click)="orderBy('profile.name')"><i class="fa fa-chevron-down"></i></button>
                    <button class="updownbtn" (click)="orderBy('-profile.name')"><i class="fa fa-chevron-up"></i></button>
              </th>
               -->
              <th class="centre">Type</th>
              <th class="centre">Client</th>
              <th class="centre">Nom</th>
              <th class="centre">Date</th>
              <th class="centre">Assigned to</th>
              <th class="centre">Statut</th>
            </tr>
          </thead>
          <tbody class="clienttbl">
            <tr *ngFor="let project of fetchedProjects"
            [routerLink]="['/project/' + project._id]"
            routerLinkActive="active">
              <td class="centre">{{project.details.categ}}</td>
              <td class="centre">{{project.details.customer}}</td>
              <td class="centre">{{project.details.name}}</td>
              <td class="centre">{{project.details.date}}</td>
              <td class="centre">
                <div *ngFor="let assignedTo of project.assignedTos">
                  {{assignedTo.profile.name}} {{assignedTo.profile.lastName}}
                </div>

              </td>
              <td class="centre btn btn-outline-info">{{project.StatusProject}}</td>
            </tr>
          </tbody>
        </table>

          <div class="has-text-centered">
          <!-- <div [hidden]="!loading">Loading...</div> -->
          <!-- <pagination-controls (pageChange)="getPage($event)" id="projectPagination" class="change-page"></pagination-controls> -->
          <md-paginator
            [length]="paginationData.totalItems"
            [pageSize]="paginationData.itemsPerPage"
            (page)="getPage($event.pageIndex*1+1)">
          </md-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>
        </div>
      </div>
    </div>
  </div>
</div>
