.specialwrapper {
  padding: 0 15px;
  margin-top: -10px;
}
button.addbrief {
  display: block;
  background-color: #5e5899;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
}
.questions, .firstquestion {
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #5e5899;
}
.firstquestion {
  margin-top: 15px;
}
.review-brief {
  text-transform: uppercase;
  border: 1px solid;
  float: right;
  text-decoration: none !important;
  cursor: pointer;
}
.editbrief {
  height: 42px;
}
.briefentry label {
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .review-brief {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 599px) {
  .review-brief {
    padding: 10px 15px;
  }
}
