<label class="label-title">Change Password</h3>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput #userPassword type="password" formControlName="currentPassword" placeholder="Current Password" class="form-control">
  </mat-form-field>
  <div [hidden]="currentPassword.valid || currentPassword.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
  <mat-form-field>
    <input matInput type="password" formControlName="newPassword" placeholder="New Password" class="form-control">
  </mat-form-field>
  <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
    Password must contain 6 or more characters
  </div>
  <button type="submit" [disabled]="!resetPasswordForm.valid" [ngClass]="{'save':resetPasswordForm.valid,'delete':!resetPasswordForm.valid}">Submit</button>
</form>
