
  <div class="">
    <h3 style="text-align: center;">Change Password</h3>
  </div>
  <div class="single-wrpr beigeback">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="" novalidate>
      <p class="blue">Change Your Password</p>

        <mat-form-field>
          <input matInput #userPassword type="password" formControlName="currentPassword" placeholder="Current Password" class="form-control">
        </mat-form-field>

      <div [hidden]="currentPassword.valid || currentPassword.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
      <mat-form-field>
        <input matInput type="password" formControlName="newPassword" placeholder="New Password" class="form-control">
      </mat-form-field>
      <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
        Password must contain 6 or more characters
      </div>
      <button type="submit" [disabled]="!resetPasswordForm.valid" [ngClass]="{'done':resetPasswordForm.valid,'pas-done':!resetPasswordForm.valid}">Done</button>
    </form>
  </div>
