.allmissions {
  overflow-x: auto;
  padding-bottom: 15px;
  margin: 50px 0 35px;
}
.allmissions-container {
  width: 5000px;
}
.projectinfo {
  clear: both;
  margin-bottom: 15px;
}
.startdate, .enddate {
  display: inline-block;
}
.startdate p, .enddate p {
  margin-bottom: 0;
  color: #b3b3b3;
}
.enddate {
  float: right;
  text-align: right;
}
.projectsummary, .teaminfo, .activity, .your-activity {
  display: inline-grid;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.projectsummary, .teaminfo {
  height: 200px;
}
.teaminfo, .your-activity {
  background-color: #F5F5F5;
}
mat-progress-bar.mat-progress-bar.mat-primary, .project-progress {
  width: 100% !important;
  display: inline-block;
}
.project-progress {
  margin-top: 50px;
}
.missionbox tr {
  margin: 0 0 15px !important;
  display: block;
  background-color: #F5F5F5;
  position: relative;
  padding: 15px 15px 10px;
  cursor: pointer;
}
.missionbox table td {
  border: none !important;
  width: 80% !important;
  padding: 1px !important;
}
.projectsummary section {
  position: relative;
}
.projectsummary mat-progress-bar.mat-progress-bar.mat-primary {
  border-left: 1px solid;
  border-right: 1px solid;
  height: 38px !important;
  padding-top: 10px;
}
.pic-container {
  width: 60px;
  height: 60px;
  float: left;
}
.container-profimg {
  height: 100%;
  width: 100%;
}
.teaminfo .pic-container {
  width: 40px;
  height: 40px;
}
.number {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 120px;
  margin: 15px 5px 0 0;
  height: 45px;
  width: 45px;
  text-align: center;
  padding-top: 8px;
}
.activity .number {
  background-color: #5e5899;
}
.your-activity .number {
  background-color: #f44336;
  cursor: pointer;
}
.activity h4 {
  color: #5e5899;
}
.your-activity h4 {
  color: #f44336;
}

@media screen and (min-width: 1175px) {
  .projectsummary, .teaminfo, .activity, .your-activity {
    margin: 0 -6px 0 0;
  }
  .activity, .your-activity {
    height: 200px;
  }
  .projectsummary {
    width: 35%;
  }
  .teaminfo {
    width: 25%;
  }
  .activity, .your-activity {
    width: 20%;
  }
}

@media screen and (max-width: 1174px) {
  .projectsummary, .teaminfo, .activity, .your-activity {
    padding: 15px;
  }
  .activity, .your-activity {
    height: 177px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1174px){
  .projectsummary, .teaminfo, .activity, .your-activity {
    margin: 0 -6px 15px 0;
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .projectsummary, .teaminfo, .activity, .your-activity {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .projectsummary, .teaminfo, .activity, .your-activity {
    width: 100%;
  }
}
