h2.my-name {
  text-align: center !important;
  text-transform: none !important;
	display: block !important;
}
h5 {
  text-align: center;
  margin-bottom: 50px;
}
.profile-button {
  width: 115%;
  padding: 15px;
  background-color: #f4f4f4;
  margin: 0 -15px;
}
.pic-container, .pic-container2 {
	width: 100px;
  height: 100px;
  padding: 0;
  float: none;
}
.pic-container {
	margin: 50px auto 10px;
}
.pic-container2 {
	margin: 10px auto;
}
.sidebarright-sub .save, .sidebarright-sub .delete {
  width: 95%;
  height: 25px;
  margin-bottom: 25px;
}
.sidebarright-choices {
  display: block !important;
}
.mat-expansion-panel {
    box-shadow: none !important;
}
