h2.my-name {
  text-align: center !important;
  text-transform: none !important;
	display: block !important;
}
h5 {
  text-align: center;
  margin-bottom: 50px;
}
.profile-button {
  width: 115%;
  padding: 15px;
  background-color: #F4F0F9;
  margin: 0 -15px;
}
.pic-container, .pic-container2 {
  padding: 0;
  float: none;
}
.pic-container {
  width: 100px;
  height: 100px;
	margin: 50px auto 10px;
}
.pic-container2 {
	margin: 10px auto 25px;
  height: 200px;
}
.sidebarright-sub .save, .sidebarright-sub .delete {
  width: 95%;
  height: 25px;
  margin-bottom: 25px;
}
.sidebarright-choices {
  display: block !important;
}
.mat-expansion-panel {
    box-shadow: none !important;
}
.edituser .valid-edit {
  margin-top: 70px;
}
.logologin {
  margin: 0 auto 50px;
  width: 50%;
}
.logologin img {
  max-width: 100% !important;
}
.log-scrn {
  width: 300px;
  margin: 100px auto 0;
}
.newuser .label-title, .newuser .fileContainer p {
  color: #fff;
}
.newuser .pic-container {
  width: 175px;
  height: 175px;
  margin: 15px auto 50px;
}
