<div class="container">

  <div class="row">
    <div id="wrapper" class="subsubnav-clients float-left">
      <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchProducts()">
      <app-newObjDialog icone="fa fa-plus-square fa-2x ml" [search]="search" (saved)="saved($event)" [typeObj]="'product'"></app-newObjDialog>
      <!-- <i class="fa fa-plus-square fa-2x ml" aria-hidden="true" (click)="redirectCreateObj()" routerLinkActive="active"></i> -->
    </div>

    <div class="col-md-12">

      <div class="card">


        <div class="card-block clearfix">

          <table class="table table-hover table-striped table-responsive">
            <thead class="thead-inverse">
              <tr>
                <!--
              <th class="tbl-left">

                <!-- <button class="updownbtn" (click)="orderBy('profile.name')"><i class="fa fa-chevron-down"></i></button>
                    <button class="updownbtn" (click)="orderBy('-profile.name')"><i class="fa fa-chevron-up"></i></button>
              </th>
               -->
                <th class="centre">{{'Image' | translate}}</th>
                <th class="centre">{{'Name' | translate}}</th>
                <th class="centre">{{'Description' | translate}}</th>
                <th class="centre">{{'Companie' | translate}}</th>
                <th class="centre">{{'# Stock' | translate}}</th>
                <th class="centre">{{'Price without taxes' | translate}}</th>
              </tr>
            </thead>
            <tbody class="clienttbl">
              <tr *ngFor="let product of fetchedProducts" [routerLink]="['/product/' + product._id]" routerLinkActive="active">
                <td class="centre">
                  <div *ngFor="let singleForm of product.forms; let i = index;">
                    <img *ngIf="i<=0" height="50px" class="img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
                  </div>
                </td>
                <td class="centre">
                  {{product.details.referenceName}}</td>
                <td class="centre">{{product.details.description}}</td>
                <td class="centre">{{product.details.price.costPrice}}</td>
                <td class="centre">{{product.details.referenceName}}</td>
                <td class="centre">{{product.details.price.costPrice}}</td>

              </tr>
            </tbody>
          </table>

          <div class="has-text-centered">
            <md-paginator
              [length]="paginationData.totalItems"
              [pageSize]="paginationData.itemsPerPage"
              (page)="getPage($event.pageIndex*1+1)">
            </md-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>
            <!-- <div [hidden]="!loading">Loading...</div>
            <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls> -->
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
