<div class="chat-wrapper">
  <div #readChat class="read-chat">
    <div *ngIf="!messages.length">
      Write your first message to start the discussion...
    </div>
    <button *ngIf="linkGoToChat" type="button" (click)="goToChat()" class="gotochat-btn">CHAT</button>
    <button *ngIf="paginationData.currentPage * paginationData.itemsPerPage < paginationData.totalItems" type="button" (click)="buttonGetOldChats()">Get older chats.. </button>
    <div *ngFor="let message of messages; let i=index;" class="indiv-chat">
      <div *ngIf="!onlylastPost || i === messages.length-1">
        <div *ngFor="let user of message.users">
          <div class="pic-container">
            <app-picture [userIdToOpenProfile]="user._id" [addPicture]=false [deletePicture]=false [forms]="user.forms"></app-picture>
          </div>
          <div class="chat-content">
            <p class="longMessage">{{message.chatName}}</p>
            <p class="shortMessage">{{message.chatName | shortMessage}}</p>
            <h5>{{message.createdAt | date:'short'}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="addMessage" class="write-chat">
    <textarea [(ngModel)]="message.chatName" (keyup.enter)="sendMessage()"></textarea>
    <button (click)="sendMessage()" class="edit-btn">Send</button>
  </div>
</div>
