.login {
  background-color: #009688;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}
.footnote a {
  color: #ffffff !important;
}
p.footnote {
  color: #ffffff !important;
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
h1 {
  color: #ffffff;
}
.logologin {
  margin: 0 auto 50px;
  width: 50%;
}
.logologin img {
  max-width: 100% !important;
}
