.log-scrn {
  width: 300px;
  margin: 100px auto 0;
}
.login {
  background-color: #009688;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}
.message a {
  color: #ffffff;
  margin-top: 50px;
}
h1 {
  color: #ffffff;
}
