.login {
  background-color: #009688;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}
p.message {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
.message a {
  color: #ffffff !important;
}
h1 {
  color: #ffffff;
}
