@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "fullcalendar/dist/fullcalendar.min.css";*/
/*@import "~angular-calendar/dist/css/angular-calendar.css";*/
/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/

/*----------Body---------*/

html, body {
  height: 100%;
  overflow-x: hidden;
}

/*----------Body---------*/

.djoa-background {
  background: #4a148c;
  background: -webkit-linear-gradient(left, #4a148c , #0d47a1);
  background: -o-linear-gradient(right, #4a148c , #0d47a1);
  background: -moz-linear-gradient(right, #4a148c , #0d47a1);
  background: linear-gradient(to right, #4a148c , #0d47a1);
}
.djoa-container {
  float: none;
  margin: 0 auto;
  height: 86vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .djoa-container {
    width: 70% !important;
    max-width: 70% !important;
  }
}

/*---------- Angular CSS and Bootstrap Override---------*/

body, .mat-drawer-container {
  background-color: transparent !important;
}
.mat-drawer-container {
  overflow: initial;
}
md-sidenav-container.mat-drawer-container.mat-sidenav-container {
  height: 100%;
}
