@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "fullcalendar/dist/fullcalendar.min.css";*/
/*@import "~angular-calendar/dist/css/angular-calendar.css";*/
/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/

/*----------General---------*/

html, body {
  height: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #330066;
}
.djoa-container::-webkit-scrollbar {
  width: 0px !important;
}
h1, h2, h3, h4, h5, a, p, td, th, button, input, .table td, .mat-card {
  font-family: inherit !important;
}
h1, h2, h3 {
  text-transform: uppercase;
}
h1 {
  font-size: 22px;
  text-align: center;
  padding: 15px 0;
}
h2 {
  font-size: 15px;
  color: #4a148c;
  display: inline-block;
  margin-bottom: 10px !important;
}
h3 {
  font-size: 13px;
  background-color: #4a148c;
  color: #fff;
  padding: 2px 5px;
  float: right;
  margin-top: 2px;
}
h4 {
  font-size: 18px;
  display: inline-block;
}
h5 {
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 5px;
}
a {
  color: inherit !important;
}
img {
    max-width: 100% !important;
}

@media screen and (min-width: 992px) {
  .dspl-nn-dsktp {
    display: none !important;
  }
  h1 {
    margin-bottom: 25px;
  }
  h1.bigmarg {
    margin-bottom: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .dspl-nn-mbl {
    display: none !important;
  }
}
/*----------Body---------*/

.djoa-background {
  background: #4a148c;
  background: -webkit-linear-gradient(left, #4a148c , #0d47a1);
  background: -o-linear-gradient(right, #4a148c , #0d47a1);
  background: -moz-linear-gradient(right, #4a148c , #0d47a1);
  background: linear-gradient(to right, #4a148c , #0d47a1);
}
.djoa-container {
  float: none;
  background-image: url(/assets/images/page-title-back.png);
  background-repeat: no-repeat;
  overflow-y: auto;
  height: 100%;
}
.missionbox {
  float: left;
  max-width: 100%;
  display:inline-block;
  margin-right: 20px;
}
.edit-btn, .delete-x {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 10px;
  text-decoration: none;
  background: none;
  border: none;
}
.edit-btn {
  color: #ccc;
}
.delete-x {
  color: #f44336;
}
.add-object {
  width: 100%;
  background: none;
  border: none;
  padding: 20px 15px;
  background-color: #4a148c;
  color: #fff;
  text-align: left;
  cursor: pointer;
  text-transform: uppercase;
}
.save, .delete {
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  padding: 5px;
}
.save {
  background-color: #009688;
  color: #fff;
  font-weight: 600;
}
.delete {
  text-align: center;
  border: 1px solid;
  margin-top: 15px;
}
p.percent {
  display: inline-block;
  margin: 0 !important;
  padding: 1px 10px 0;
  position: absolute;
  top: 25%;
  color: #009688;
  font-weight: 600;
}
.bottom-shadow {
  position: sticky;
  bottom: 0px;
  width: 100%;
}
.bottom-shadow:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
}
.greyback {
  background-color: #f4f4f4;
}
.card-header i {
  color: #4a148c !important;
}
.sidewrapper {
  width: 100%;
  margin: 0 !important;
  padding: 15px;
}
.label-title {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
.fa.fa-times.dspl-nn-dsktp {
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 2px;
  color: #333;
  width: 100%;
  height: 40px;
  text-align: right;
}
.list-on {
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  vertical-align: middle !important;
  display: table-cell;
  font-size: 14px;
  font-weight: 500;
}
.selected .list-on {
  background-color: #4a148c;
  color: #fff;
}
.selected {
  display: table;
  width: 100%;
}
.backtobottom h5 {
  text-align: center;
  margin-top: 15px;
  padding: 15px 0;
  text-transform: uppercase;
}
.col-md-12, .col-lg-6 {
  float: left;
  height: auto;
}
.leftmenu .nav-link {
  padding: 0 !important;
}

@media screen and (min-width: 992px) {
  .djoa-container {
    margin: 0 0 0 13%;
    background-size: 80%;
    background-position: 50% -10%;
    width: 80% !important;
    max-width: 80% !important;
  }
  .missionbox {
    width: 450px;
  }
  .list-on {
    height: 50px;
  }
}
@media screen and (max-width: 991px) {
  .djoa-container {
    background-size: 100%;
    background-position: 50% 8%;
    width: 100% !important;
    max-width: 100% !important;
    padding: 46px 15px 0;
    overflow: auto;
  }
  .missionbox {
    width: 300px;
  }
  .list-on {
    height: 35px;
  }
}

@media screen and (min-height: 930px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 75vh;
  }
}
@media screen and (min-height: 780px) and (max-height: 929px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 70vh;
  }
}
@media screen and (min-height: 670px) and (max-height: 779px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 65vh;
  }
}
@media screen and (min-height: 580px) and (max-height: 669px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 60vh;
  }
}
@media screen and (min-height: 520px) and (max-height: 579px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 55vh;
  }
}
@media screen and (min-height: 480px) and (max-height: 519px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 50vh;
  }
}
@media screen and (min-height: 430px) and (max-height: 479px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 45vh;
  }
}
@media screen and (min-height: 400px) and (max-height: 429px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 40vh;
  }
}
@media screen and (min-height: 370px) and (max-height: 399px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 35vh;
  }
}
@media screen and (max-height: 369px) {
  .read-chat, .col-md-12, .col-lg-6 {
    height: 30vh;
  }
}

/*---------- Angular CSS and Bootstrap Override---------*/

button {
  background: none;
  border: none;
}
body, .mat-drawer-container {
  background-color: transparent !important;
  height: 100% !important;
}
.mat-drawer-container {
  overflow: initial;
}
md-sidenav-container.mat-drawer-container.mat-sidenav-container {
  height: 100%;
}
.mat-progress-bar {
  height: 25px !important;
  min-width: 30px !important;
}
.mat-paginator-page-size, .mat-paginator-range-label {
  display: none !important;
}
.mat-progress-bar-fill::after {
  background-color: #009688 !important;
}
.mat-progress-bar-buffer {
  background-color: #b2dfdb !important;
}
.card-header {
  background: none !important;
  border: none !important;
  padding: 20px !important;
}
.mat-drawer-content {
  overflow: hidden !important;
  height: 100vh !important;
}
.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
}
button {
  padding: 0;
}
mat-form-field {
  width: 100% !important;
}
