<div class="djoa-container">
  <h1 class="bigmarg">Welcome, {{authService.getCurrentUser().profile.name}}!</h1>
  <div class="col-md-12 col-lg-6">
    <mat-card class="card-margin">
      <mat-card-content>
        <h2>Documents Waiting for your review</h2>
        <app-my-documents></app-my-documents>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 col-lg-6">
    <mat-card class="card-margin">
      <mat-card-content>
        <h2>Missions with New Messages</h2>
        <app-chat-unread-in-missions></app-chat-unread-in-missions>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="clearfix"></div>
</div>
