p {
  color: #ffffff;
}
.footnote a {
  color: #ffffff !important;
}
p.footnote {
  color: #ffffff !important;
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
.save {
  margin-top: 15px;
}
.log-scrn {
  width: 300px;
  margin: 100px auto 0;
}
