<div class="container">
  <div class="row">

    <h4 class="">id: {{fetchedRight._id}}</h4>
    <button type="button" (click)="setAllRights()">setAllRights</button>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">



      <input type="text" class="" placeholder="Name Right Profile" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedRight.detailRight.nameRight">

      <button type="button" class="btn btn-success" (click)="addRight(1,0,0,0)"><i class="fa fa-plus"></i> Add Type</button>
      <div class="categ1" *ngFor="let permission of fetchedRight.detailRight.permissions; let j = index;">
        <table class="col-md-3">
          <tr>
            <td class="">
              <select class="" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedRight.detailRight.permissions[j].namePermission">
            <option *ngFor="let n of typesRights" [attr.value]="n.value">{{n.name}}</option>
          </select>
            </td>
            <td class="">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeRight( 2,i,j,0)"><i class="fa fa-times"></i></button>
            </td>
            <td class="">
              <button type="button" class="btn btn-success btn-sm" (click)="addRight(2,i,j,0)"><i class="fa fa-plus"></i></button>
            </td>
          </tr>
        </table>
        <div class="form-control" class="categ2" *ngFor="let singleAccess of permission.access; let k = index;">

          <table class="col-md-2">
            <tr>
              <td class="tdbtn1">

                <select class="" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedRight.detailRight.permissions[j].access[k].typeAccess">
                <option [attr.value]="'read'">{{'Read' }}</option>
                <option [attr.value]="'write'">{{'write' }}</option>
                <option [attr.value]="'notification'">{{'Get Notifications' }}</option>
              </select>

              </td>
              <td class="">

                <button class="btn btn-danger btn-sm" type="button" (click)="removeRight( 3,i,j,k)"><i class="fa fa-times"></i></button>
              </td>
            </tr>
          </table>
        </div>

      </div>

      <!-- </div> -->


      <div class="valid-edit">
        <button type="submit" class="btn btn-success sln-edt done">
          Enregistrer
        </button>


        <button *ngIf="fetchedRight._id" type="button" class="btn btn-danger sln-edt done" (click)="onDelete(fetchedRight._id)">
          Delete
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
